<form class="user-form" [formGroup]="userRegistrationForm" *ngIf="!otpEnable">
    <div class="container">
        <div class="form-row pb-3">
            <h3> <span class="bordered-title">User Registration</span></h3>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Name<span class="text-danger">*</span> </label>
                    <input type="text" formControlName="name" autocomplete="off" class="form-control" placeholder="Enter name" required />                    
                    <small><p class="text-danger" *ngIf="userRegistrationForm.controls.name.invalid && (userRegistrationForm.controls.name.dirty || userRegistrationForm.controls.name.touched)">Name is <strong>required</strong>.</p></small>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">SurName <span class="text-danger">*</span></label>
                    <input type="text" formControlName="surName" autocomplete="off" class="form-control" placeholder="Enter surname" required />
                </div>
            </div>
        </div>
        <!-- <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">User Id</label>
                    <input type="text" formControlName="userId" autocomplete="off" class="form-control" placeholder="User Id" />
                </div>
            </div>
        </div> -->
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Email <span class="text-danger">*</span></label>
                    <input type="email" formControlName="email" autocomplete="off" class="form-control" placeholder="Email" email required />
                    <p class="text-danger" *ngIf="userRegistrationForm.controls.email.invalid && (userRegistrationForm.controls.email.dirty || userRegistrationForm.controls.email.touched)">Valid email is required.</p>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Phone Number <span class="text-danger">*</span></label>
                    <input type="text" formControlName="phoneNumber" class="form-control" name="" placeholder="Phone number" required />
                    <p class="text-danger" *ngIf="userRegistrationForm.controls.phoneNumber.invalid && (userRegistrationForm.controls.phoneNumber.dirty || userRegistrationForm.controls.phoneNumber.touched)">Phone number is required.</p>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Password <span class="text-danger">*</span></label>
                    <input type="password" formControlName="password" class="form-control" name="" placeholder="Enter password" required />
                    <p class="text-danger" *ngIf="userRegistrationForm.controls.password.invalid && (userRegistrationForm.controls.password.dirty || userRegistrationForm.controls.password.touched)">Password is required.</p>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Confirm Password <span class="text-danger">*</span></label>
                    <input type="password" formControlName="confirm_password" class="form-control" name="" placeholder="Enter password again" />
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Gender/Sex <span class="text-danger">*</span></label>
                    <select formControlName="genderId" name="" id="" class="form-control" required>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Others</option>
                            </select>
                    <p class="text-info d-none">Info message</p>
                    <p class="text-danger d-none">Danger message</p>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="alert alert-warning" role="alert" *ngIf="errorMessage!=null">
                    {{errorMessage}}
                </div>
                <div class="position-relative form-group text-center">
                    <button type="button" [disabled]="userRegistrationForm.invalid" class="btn btn-primary btn-lg w-50" (click)="register()">Register</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <p>Already have an account <a href="javascript:void(0)" (click)="showingLoginForm()">Login </a></p>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="#" class="opt-form" *ngIf="otpEnable">
    <div class="container py-5">
        <div class="form-row pb-3 d-flex justify-content-center">
            <h3><span class="bordered-title">OTP Verify</span></h3>
            <div class="w-100"></div>
            <h6>Please check your inbox in <strong>{{this.maskingPhoneNumber()}}</strong></h6>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">OTP</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="OTP code ?" required />
                    <p class="text-danger d-none">Enter your valid OTP</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center text-center">
                <div>
                    <p><strong>You are not inbox any OTP? <a href="">Re Send</a></strong></p>

                    <button type="button" class="caf-btn-primary-outline w-100 mx-3 my-2" (click)="fnLogin()">
                        Verify Now
                    </button>

                    <p class="py-2 mb-0"><strong> <a href="" (click)="toggleOptEnable()"><i class="pe-7s-back pr-1"></i>Back to login</a></strong></p>
                </div>
            </div>

        </div>

    </div>
</form>