<form class="user-form">
    <div class="container">
        <div class="form-row pb-3">
            <h3>User Regristration</h3>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">First Name</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="First name" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Last Name</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="Last name" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Email</label>
                    <input type="email" autocomplete="off" class="form-control" placeholder="Email" />
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">About</label>
                    <textarea class="form-control" name="" rows="3" placeholder="about"></textarea>
                </div>
            </div>
        </div>



        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Country</label>
                    <select class="form-control">
                        <option>Country Select</option>
                        <option>Bangladesh</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">

                    <div class="custom-checkbox custom-control">
                        <input class="custom-control-input" id="exampleCustomCheckbox" type="checkbox">
                        <label class="custom-control-label" for="exampleCustomCheckbox">
                            Check this custom checkbox
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label>Gender</label>
                    <br />
                    <div class="position-relative form-check d-inline-block pr-2">
                        <label class="form-check-label">
                            <input class="form-check-input" name="radio1" type="radio" />
                            Male
                        </label>
                    </div>
                    <div class="position-relative form-check d-inline-block pr-2">
                        <label class="form-check-label">
                            <input class="form-check-input" name="radio1" type="radio" />
                            FeMale
                        </label>
                    </div>
                    <div class="position-relative form-check d-inline-block pr-2">
                        <label class="form-check-label">
                            <input class="form-check-input" name="radio1" type="radio" />
                            Others
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <button type="Submit" class="btn btn-primary btn-lg w-50">Regrister</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <p>Already have an account <a href="javascript:void(0)" (click)="showingLoginForm()">Login </a></p>
                </div>
            </div>
        </div>
    </div>
</form>