<form class="user-form">
    <div class="container">
        <div class="form-row pb-3">
            <h3> <span class="bordered-title">User Regristration</span></h3>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Name</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="Enter name" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">SurName</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="Enter surname" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">User Id</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="User Id" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Email</label>
                    <input type="email" autocomplete="off" class="form-control" placeholder="Email" />
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Phone Number</label>
                    <input type="text" class="form-control" name="" placeholder="Phone number" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Password</label>
                    <input type="password" class="form-control" name="" placeholder="Enter password" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Confirm Password</label>
                    <input type="password" class="form-control" name="" placeholder="Enter password again" />
                </div>
            </div>
        </div> 
        
        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label>Gender</label>
                    <br />
                    <div class="position-relative form-check d-inline-block pr-2">
                        <label class="form-check-label">
                            <input class="form-check-input" name="radio1" type="radio" />
                            Male
                        </label>
                    </div>
                    <div class="position-relative form-check d-inline-block pr-2">
                        <label class="form-check-label">
                            <input class="form-check-input" name="radio1" type="radio" />
                            FeMale
                        </label>
                    </div>
                    <div class="position-relative form-check d-inline-block pr-2">
                        <label class="form-check-label">
                            <input class="form-check-input" name="radio1" type="radio" />
                            Others
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <button type="button" class="btn btn-primary btn-lg w-50" (click)="toggleOptEnable()">Regrister</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <p>Already have an account <a href="javascript:void(0)" (click)="showingLoginForm()">Login </a></p>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="#" class="opt-form" *ngIf="otpEnable">
    <div class="container py-5">
        <div class="form-row pb-3 d-flex justify-content-center">
            <h3><span class="bordered-title">OTP Verify</span></h3>
            <div class="w-100"></div>
            <h6>Please check your inbox in 0171*******67</h6>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">OTP</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="OTP code ?" required />
                    <p class="text-danger d-none">Enter your valid OTP</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center text-center">
                <div>
                    <p><strong>You are not inbox any OTP? <a href="">Re Send</a></strong></p>

                    <button type="button" class="caf-btn-primary-outline w-100 mx-3 my-2" (click)="fnLogin()">
                        Verify Now
                    </button>

                    <p class="py-2 mb-0"><strong> <a href="" (click)="toggleOptEnable()"><i class="pe-7s-back pr-1"></i>Back to login</a></strong></p>
                </div>
            </div>

        </div>

    </div>
</form>