<ul class="tree-list">
    <li>
        Basic Profile Information

        <ul>
            <li class="text-success">
                <a href="#">
                    <strong>Name:</strong> Jhon
                </a>
            </li>
            <li class="text-warning">
                <a href="#">
                    <strong>SurName:</strong> smith
                </a>
            </li>
            <li class="text-warning">
                <a href="#">
                    <strong>DOB:</strong> 10-10-2020
                </a>
            </li>
            <li class="text-warning">
                <a href="#">
                    <strong>TaxCode:</strong> 00000
                </a>
            </li>
        </ul>
    </li>
    <li>
        Personal info 2
        <ul>
            <li class="text-success">
                <a href="#">
                    <strong>Info 1:</strong> value 1
                </a>
            </li>
            <li class="text-danger">
                <a href="#">
                    information not entryed
                </a>
            </li>
        </ul>
    </li>
</ul>