.caf-card-profile {
    @include media-breakpoint-up(md) {
        height: 100%;
    }
}

.tree-list {
    @extend .list-unstyled;
    @extend .pt-3;

    li {
        margin-bottom : 10px;
        position      : relative;
        letter-spacing: 0.5px;
        margin-bottom : 10px;

        .title {
            color        : $treeTextColor;
            font-weight  : 500;
            padding      : 5px 10px 5px 25px;
            border-radius: 0 5px 5px 30px;
            position     : relative;
            transition: background 0.4s;
            a {
                color: inherit;
                transition: 0.3s;
            }


            &:not(.title-warning) {
                background: $treeTitleBg;

                &:hover {
                    background: $appColor;
                }
            }

            &-warning {
                background: $treeTitleBgDanger;

                &:hover {
                    background: $danger;
                    color: $white;
                }
            }
        }
    }

    ul {
        @extend .list-unstyled;
        padding: 10px 0 0 0;

        li {
            border-left  : 0;
            padding      : 5px 0 5px 15px;
            margin-bottom: 0;
            position     : relative;

            a {
                color: currentColor;
            }


        }

    }
}