<ul class="tree-list">
    <li>
        Personal info
        <ul>
            <li class="text-success">
                <a href="#">
                    <strong>First Neme:</strong> Md Abu Sayed
                </a>
            </li>
            <li class="text-warning">
                <a href="#">
                    <strong>Nic Name:</strong> undefine
                </a>
            </li>
        </ul>
    </li>
    <li>
        Personal info 2
        <ul>
            <li class="text-success">
                <a href="#">
                    <strong>Info 1:</strong> value 1
                </a>
            </li>
            <li class="text-danger">
                <a href="#">
                    information not entryed
                </a>
            </li>
        </ul>
    </li>
</ul>