<ul class="tree-list">
    <li>
        <div class="title">
            <a href="">Basic Profile Information</a>
        </div>
        <ul>
            <li>
                <a href="#">
                    <strong>Name:</strong> Jhon
                </a>
            </li>
            <li>
                <a href="#">
                    <strong>SurName:</strong> smith
                </a>
            </li>
            <li>
                <a href="#">
                    <strong>DOB:</strong> 10-10-2020
                </a>
            </li>
            <li>
                <a href="#">
                    <strong>TaxCode:</strong> 5457
                </a>
            </li>
        </ul>
    </li>
    <li>
        <div class="title title-warning">
            <a href="">Warning profile Information 2</a>
        </div>
        <ul>
            <li>
                <a href=""><strong>Info 1:</strong> value 1</a>

            </li>
            <li>
                <a href=""> You are not complete your profile Information 2</a>
            </li>
        </ul>
    </li>
</ul>