    .create-new {
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 10px
    }
    
    .ng-dropdown-footer {
        border-top: unset !important;
        padding: 0px 10px !important;
    }
    
    .ng-dropdown-footer:hover {
        background-color: #f5faff;
    }
    
    .multi-select .ng-dropdown-panel-items {
        box-shadow: none !important;
    }
    
    .multi-select ng-dropdown-panel {
        box-shadow: 0 0 5px rgb(52 58 64 / 30%);
        background: #fff;
    }
    
    .multi-select .ng-dropdown-footer p {
        margin-bottom: 0em;
    }
    
    .multi-select .ng-select .ng-select-container {
        height: 100%;
    }