<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form [formGroup]="changePasswordForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">Change Password</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="backBtnClick()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-12 col-md-12">
                        <div class="caf-input-group">
                            <label class="label">Old password*</label>
                            <input type="password" formControlName="oldPassword" autocomplete="off" class="form-control" placeholder="old password" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="caf-input-group">
                            <label class="label">New Password*</label>
                            <input type="password" formControlName="newPassword" autocomplete="off" class="form-control" placeholder="new password" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="caf-input-group">
                            <label class="label">Confirm Password*</label>
                            <input type="password" formControlName="confirmPassword" autocomplete="off" class="form-control" placeholder="confirm password" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
               
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="backBtnClick()">
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button [disabled]="changePasswordForm.invalid" class="caf-btn-primary-outline" (click)="save()"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--<app-section-to-section-link [sectionName]="'Basic Info'"></app-section-to-section-link>-->