<div class="card mb-4">
    <div class="card-body card-shadow">
        <form action="">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title">Delegation Informations</h3>
                    </div>
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title-center text-center">Delegation Informations</h3>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Name</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter name"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SurName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter surname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DateOfBirth</label>
                            <input type="date" autocomplete="off" class="form-control" placeholder="Enter date of birth"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCode</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter taxCode"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Purpose</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter purpose"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DocumentIssueDate</label>
                            <input type="date" autocomplete="off" class="form-control" placeholder="Enter document issue date"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ExpiryDate</label>
                            <input type="date" autocomplete="off" class="form-control" placeholder="Enter expiry date"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IssuedBy</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter issued by"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
  
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6"></div>
                    <div class="col-lg-4 col-md-6">
                        <button class="caf-btn-primary-outline w-100">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-6"></div>
                </div>
            </div>
        </form>
    </div>
</div>