$card-shadow : 0 0 15px rgba(0,0,0,0.3);
$card-shadow-bover : 0 5px 15px rgba(0,0,0,0.5);


.form-group {
    label {
        font-weight   : 700;
        letter-spacing: 0.5px;
        color         : $primary;
    }

    .form-control {
        @media screen and (min-width: 1399px) {
            height: calc(42px);
        }
    }
}

.carousel {
    outline   : 0;
    box-shadow: none;
    border    : 0;
}