$appGradientPrimary1: linear-gradient(135deg, #d1f3ff 0%, #ffffff 100%);
$appGradientPrimary2: linear-gradient(135deg, #ffffff 0%, #d1f3ff 100%);
$appGradientSecondary1: linear-gradient(135deg, #f8513e 0%, #ffffff 100%);
$appGradientSecondary2: linear-gradient(135deg, #ffffff 0%, #f8513e 100%);
$appColor: #d1f3ff;
$card-shadow : 0 0 5px 1px rgba(0,0,0,0.05);
$card-shadow2 : 0 0 10px 5px rgba(92, 206, 255, 0.5);
$card-shadow-bover : 0 5px 15px rgba(0,0,0,0.5);

$cardTopBorderBg: $appGradientPrimary1;

// header 
$landingHeaderBg: #fff;

// banner 
$bannerBg: $appGradientPrimary1;

// profile tree
$treeTitleBg: $appGradientPrimary1;
$treeTitleBgDanger: $appGradientSecondary1;
$treeTextColor: $dark;
$treeLeftBorderColor: #eee;
$treeWarningBg: #f8513e;


// chatbox 
$chatHeaderBg: $white;
$chatHeaderTextColor: $primary;
$chatLeftBg: $appGradientPrimary1;
$chatRightBg: $appGradientPrimary2;


.card-shadow {
    box-shadow: $card-shadow2;
}

.card-footer {
    background: rgba( $appColor, 1);
    padding: 8px;
    border-radius: 5px !important;
    .caf-btn-primary-outline {
        min-width: 130px;
    }
}
.card-border-top {
    border-top: 5px solid $primary;
}

.caf-card {
    padding-top   : 20px;
    
    &:not(.card):not(.card-body) {
        padding-bottom: 15px;
        margin-bottom : 20px;
    }

    background    : $white;
    border-top    : 0;
    border-radius : 5px;
    position: relative;
    overflow: hidden;
    border-top: 5px solid $primary;
}

.form-group {
    label {
        font-weight   : 500;
        color         : $primary;
    }

    .form-control {
        @media screen and (min-width: 1399px) {
            height: calc(42px);
        }
    }
}

.carousel {
    outline   : 0;
    box-shadow: none;
    border    : 0;
}

.text-overflow-ellips {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-profile-dropdown, 
.notifications-dropdown {
    @include media-breakpoint-up(lg) {
        min-width: 310px;
    }
}


.card-border-top-secondary {
    border-top: 5px solid $secondary !important;
}

.card-border-top-success {
    border-top: 5px solid $success;
}

.card-border-top-warning {
    border-top: 5px solid $warning;
}

.card-border-top-danger {
    border-top: 5px solid $danger;
}
