.caf-sidebar-menus {
    .vsm-list {
        .vsm-item {
            .vsm-link {
                height: auto;
                line-height: 18px;
                padding: 5px;
                background: transparent;
            }
        }
    }
}