<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
    (mouseout)="sidebarHover()">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-sidebar-content">
        <div class="app-sidebar-scroll">
            <perfect-scrollbar style="max-width: 600px; max-height: 95vh;" [autoPropagation]="true" [config]="config$">
                <div class="v-sidebar-menu caf-sidebar-menus vsm-default">
                    <div class="vsm-list">
                        <ngb-accordion  [activeIds]="[acc1]" >

                            <div *ngFor="let menu of menuList">
                                <ngb-panel>
                                    <ng-template ngbPanelHeader>
                                        <div class="vsm-header">{{menu.name}}</div>
                                    </ng-template>
                                </ngb-panel>

                                <ngb-panel *ngFor="let submenu of menu.children">
                                    <ng-template ngbPanelHeader *ngIf="!submenu.children || submenu.children.length==0">
                                        <div class="vsm-item">
                                            <a routerLinkActive="active-item" [routerLink]="submenu.url"
                                                class="vsm-link">
                                                <i [class]="'vsm-icon '+submenu.iconClass"></i>
                                                <span class="vsm-title">{{submenu.name}}</span>
                                            </a>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelHeader *ngIf="submenu.children && submenu.children.length > 0">
                                        <button ngbPanelToggle class="vsm-link">
                                            <i [class]="'vsm-icon '+submenu.iconClass"></i>
                                            <span class="vsm-title">{{submenu.name}}</span>
                                            <i class="vsm-arrow"></i>
                                        </button>
                                    </ng-template>
                                    <ng-template ngbPanelContent
                                        *ngIf="submenu.children && submenu.children.length > 0">
                                        <div class="vsm-dropdown">
                                            <div class="vsm-list">
                                                <div class="vsm-item" *ngFor="let childsubmenu of submenu.children">
                                                    <a routerLinkActive="active-item" [routerLink]="childsubmenu.url"
                                                        class="vsm-link">
                                                        <span class="vsm-title">{{childsubmenu.name}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </div>

                            <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <div class="vsm-header">Profile Information</div>
                                </ng-template>
                            </ngb-panel>

                            <!-- <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <div class="vsm-item">
                                        <a routerLink="/dashboard" routerLinkActive="active-item" class="vsm-link">
                                            <i class="vsm-icon pe-7s-home"></i>
                                            <span class="vsm-title">Profile Information</span>
                                        </a>
                                    </div>
                                </ng-template>
                            </ngb-panel> -->

                            <ngb-panel id="acc1">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                                        <i class="vsm-icon pe-7s-user"></i>
                                        <span class="vsm-title">Personal informations</span>
                                        <i class="vsm-arrow"></i>
                                    </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/users/users"
                                                    class="vsm-link text-success">
                                                    <strong class="vsm-title">Name: </strong>
                                                    <div>Jhon smith</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="acc2">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                                        <i class="vsm-icon pe-7s-user"></i>
                                        <span class="vsm-title">Occupation History</span>
                                        <i class="vsm-arrow"></i>
                                    </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item"  class="vsm-link text-warning">
                                                    <strong class="vsm-title">Job Type: </strong>
                                                    <div>Full Time</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                        
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>