<div class="card mb-4">
    <div class="card-body card-shadow">
        <form action="">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title">Occupation Informations</h3>
                    </div>
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title-center text-center">Occupation Informations</h3>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">JobType</label>
                            <select name="" id="" class="form-control">
                                <option value="">Part-Time</option>
                                <option value="">FullTime</option>
                                <option value="">Occasional</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">JobHour</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter jobhour"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractType</label>
                            <select name="" id="" class="form-control">
                                <option value="">Permanent Contract(Unlimited)</option>
                                <option value="">Temporary Contract(Limited)</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>

                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">VatNo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter jobhour"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractStartDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractEndDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CompanyName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">LegalCompanyAddress</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">OfficeAddress</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">BranchAddress</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter address"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ChamberOfCommerceReg#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter reg no"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ChamberOfCommerceCityName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter city"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">REA#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter email"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ATECO#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter email"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SCIA#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter email"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SCIACityName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter email"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsShareHolder</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PercentageOfShare</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter share"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">NotaioInfo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter email"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CompanyRepresentative</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter email"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6"></div>
                    <div class="col-lg-4 col-md-6">
                        <button class="caf-btn-primary-outline w-100">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-6"></div>
                </div>
            </div>
        </form>
    </div>
</div>