<div class="banner-slider" style="background-image: url(assets/images/bg10.jpg);">
    <ngb-carousel [showNavigationArrows]="false">
        <ng-template ngbSlide>
            <div class="carousel-content">
                <div class="row carousel-row-item">
                    <div class="col-md-6 d-flex flex-column align-items-center align-items-md-start">
                        <div>
                            <img class="img img-fluid m-auto m-md-0 rounded-circle bg-light"
                            src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/256/user-male-icon.png" />
                        </div>

                        <div class="pt-3">
                            <h3>Our project are awesome this time 1</h3>
                            <blockquote>
                                <p>ccaecat do ea laborum nisi. Aliquip sint amet laboris magna
                                        ut esse duis voluptate magna pariatur laborum reprehenderit id. Officia dolor
                                        exercitation
                                        fugiat dolore labore consectetur.
                                </p>
                                <a href="#"><strong>Jhon smith</strong></a>
                            </blockquote>
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="card">
                            <div class="card-body p-2">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item m-0 p-0" width="100%" height="450" src="https://www.youtube.com/embed/vEj-UKE-bBo" frameborder="0"
                                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="carousel-content">
                <div class="row carousel-row-item">
                    <div class="col-md-6 ">
                        <div class="card">
                            <div class="card-body p-2">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item m-0 p-0" width="100%" height="450"
                                        src="https://www.youtube.com/embed/vEj-UKE-bBo" frameborder="0"
                                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <img class="img img-fluid m-auto m-md-0 rounded-circle bg-light"
                            src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/256/user-male-icon.png" />
                    
                        <div class="pt-3">
                            <h3>Our project are awesome this time 1</h3>
                            <blockquote>
                                <p>ccaecat do ea laborum nisi. Aliquip sint amet laboris magna
                                    ut esse duis voluptate magna pariatur laborum reprehenderit id. Officia dolor
                                    exercitation
                                    fugiat dolore labore consectetur.
                                </p>
                                <a href="#"><strong>Jhon smith</strong></a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="carousel-content">
                <div class="row carousel-row-item">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body p-2">
                                <img class="img w-100 img-fluid" src="assets/images/banner1.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div>
                            <h3>Our project are awesome this time</h3>
                            <p>Nisi ullamco mollit eu laboris mollit sit fugiat ea incididunt elit. Do culpa mollit laboris excepteur cupidatat excepteur eu incididunt Lorem aliquip. Est deserunt deserunt elit.</p>
                            <p>Nisi ullamco mollit eu laboris mollit sit fugiat ea incididunt elit. Do culpa mollit laboris excepteur cupidatat excepteur eu incididunt Lorem aliquip.</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>