<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form [formGroup]="basicInfoForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">{{'basicUserFrom.title' | translate}}</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="backBtnClick()">
                            <i class="pe-7s-back pr-1"></i>
                            {{'common.back.label' | translate}}
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.username.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" formControlName="name" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.username.placeholder' | translate}}" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger" *ngIf="basicInfoForm.controls.name.invalid && (basicInfoForm.controls.name.dirty || basicInfoForm.controls.name.touched)">User name is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.surname.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" formControlName="surName" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.surname.placeholder' | translate}}" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger" *ngIf="basicInfoForm.controls.surName.invalid && (basicInfoForm.controls.surName.dirty || basicInfoForm.controls.surName.touched)">Surname is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.dateOfBirth.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="date" formControlName="dateOfBirth" autocomplete="off" class="form-control" placeholder="{{'common.dateOfBirth.placeholder' | translate}}" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger" *ngIf="basicInfoForm.controls.dateOfBirth.invalid && (basicInfoForm.controls.dateOfBirth.dirty || basicInfoForm.controls.dateOfBirth.touched)">Date of Birth is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.taxCode.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" formControlName="taxCode" autocomplete="off" class="form-control" placeholder="{{'common.taxCode.placeholder' | translate}}" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger" *ngIf="basicInfoForm.controls.taxCode.invalid && (basicInfoForm.controls.taxCode.dirty || basicInfoForm.controls.taxCode.touched)">Tax Code is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.taxCodeStartDate.label' | translate}}</label>
                            <input type="date" formControlName="taxCodeStartDate" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.taxCodeEndDate.label' | translate}}</label>
                            <input type="date" formControlName="taxCodeEndDate" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.phoneNumber.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" formControlName="phoneNumber" autocomplete="off" class="form-control" placeholder="{{'common.phoneNumber.placeholder' | translate}}" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger" *ngIf="basicInfoForm.controls.phoneNumber.invalid && (basicInfoForm.controls.phoneNumber.dirty || basicInfoForm.controls.phoneNumber.touched)">Phone Number is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.gender.label' | translate}}</label>
                            <select formControlName="genderId" name="" id="" class="form-control" >
                                <option *ngFor="let option of gender" [value]="option.genderId">{{option.name}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.maritalStatus.label' | translate}}</label>
                            <select formControlName="maritalStatusId" name="" id="" class="form-control">
                                <option *ngFor="let option of maritalStatus" [value]="option.maritalStatusId">{{option.name}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.emailAddress.label' | translate}}<span class="text-danger">*</span></label>
                            <input formControlName="email" type="text" autocomplete="off" class="form-control" placeholder="{{'common.emailAddress.placeholder' | translate}}" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger" *ngIf="basicInfoForm.controls.email.invalid && (basicInfoForm.controls.email.dirty || basicInfoForm.controls.email.touched)">Email is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.postalElectronicCertificate.label' | translate}}</label>
                            <input formControlName="postalElectronicCertificate" type="text" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.postalElectronicCertificate.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.cityOfBirth.label' | translate}}</label>
                            <input formControlName="cityOfBirth" type="text" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.cityOfBirth.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.stateOfBirth.label' | translate}}</label>
                            <input formControlName="stateOfBirth" type="text" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.stateOfBirth.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.birthStateCode.label' | translate}}</label>
                            <input formControlName="birthStateCode" type="text" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.birthStateCode.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.nationality.label' | translate}}</label>
                            <select formControlName="nationalityId" name="" id="" class="form-control">
                                <option *ngFor="let option of nationality" [value]="option.nationalityId">{{option.nationalityName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.citizenStateCode.label' | translate}}</label>
                            <input formControlName="citizenStateCode" type="text" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.citizenStateCode.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.eyesColor.label' | translate}}</label>
                            <select formControlName="eyeColorId" name="" id="" class="form-control">
                                <option *ngFor="let option of eyeColor" [value]="option.eyeColorId">{{option.description}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.height.label' | translate}}</label>
                            <input formControlName="height" type="number" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.height.placeholder' | translate}}" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.zipCode.label' | translate}}</label>
                            <input formControlName="zipCode" type="text" autocomplete="off" class="form-control" placeholder="{{'common.zipCode.placeholder' | translate}}" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.motive.label' | translate}}</label>
                            <select formControlName="motiveTypeId" name="" id="" class="form-control">
                                <option *ngFor="let option of motiveType" [value]="option.motiveTypeId">{{option.motiveTypeName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.occupation.label' | translate}}</label>
                            <select formControlName="occupationTypeId" name="" id="" class="form-control">
                                <option *ngFor="let option of occupationType" [value]="option.occupationTypeId">{{option.occupationTypeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.OcupationPosition.label' | translate}}</label>
                            <select formControlName="occupationPositionId" name="" id="" class="form-control">
                                <option *ngFor="let option of occupationPosition" [value]="option.occupationPositionId">{{option.occupationPositionName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.hasUnEmployedCertificate.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasUnEmployedCertificate">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasUnEmployedCertificate').value">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.unemployedcertficateIssueDate.label' | translate}}</label>
                            <input type="date" formControlName="unEmployedCertificateIssuesDate" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasUnEmployedCertificate').value">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.hasAnyUnEmployedFacility.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasAnyUnEmployedFacility">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label class="label">{{'basicUserFrom.contractType.label' | translate}}</label>
                            <select formControlName="contractTypeId" name="" id="" class="form-control">
                                <option *ngFor="let option of contractType" [value]="option.contractTypeId">{{option.contractTypeName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.yearlyIncome.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" formControlName="yearlyIncome" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger" *ngIf="basicInfoForm.controls.yearlyIncome.invalid && (basicInfoForm.controls.yearlyIncome.dirty || basicInfoForm.controls.yearlyIncome.touched)">Yearly income is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'common.isRentHouse.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isRentHouse">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isRentHouse').value">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.howManyHouseHasRent.label' | translate}}</label>
                            <input type="number" formControlName="howManyHouseRent" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.howManyHouseHasRent.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'common.isHouseOwner.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isHouseOwner">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isHouseOwner').value">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.houseCountryName.label' | translate}}</label>
                            <input type="text" formControlName="houseCountryName" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.houseCountryName.placeholder' | translate}}" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isHouseOwner').value">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.houseCityName.label' | translate}}</label>
                            <input type="text" formControlName="houseCityName" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.houseCityName.placeholder' | translate}}" />
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.hasVehicle.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasVehicle">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasVehicle').value">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.carSerialNumber.label' | translate}}</label>
                            <input type="text" formControlName="carSerialNumber" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.carSerialNumber.placeholder' | translate}}" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasVehicle').value">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.carNumberPlate.label' | translate}}</label>
                            <input type="text" formControlName="carNumberPlate" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.carNumberPlate.placeholder' | translate}}" />
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasVehicle').value">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.hasVehicleInsurance.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasVehicleInsurance">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.isCompanyOwner.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isCompanyOwner">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isCompanyOwner').value">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.hasWorker.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasWorker">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isCompanyOwner').value">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.digitalVatCode.label' | translate}}</label>
                            <input type="text" formControlName="digitalVatCode" autocomplete="off" class="form-control" placeholder="{{'basicUserFrom.digitalVatCode.placeholder' | translate}}" />
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.hasAppliedForCitizenship.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasAppliedForCitizenship">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>{{'basicUserFrom.isPregnant.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isPregnant">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.expectedBabyBirthDate.label' | translate}}</label>
                            <input type="date" formControlName="expectedBabyBirthDate" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="backBtnClick()">
                                <i class="pe-7s-back pr-1"></i>
                                {{'common.back.label' | translate}}
                            </button>
                            <button [disabled]="basicInfoForm.invalid" class="caf-btn-primary-outline" (click)="save()"><i class="fa fa-save pr-1"></i> {{'common.save.label' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-section-to-section-link [sectionName]="'Basic Info'"></app-section-to-section-link>