<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form [formGroup]="basicInfoForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">Basic Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Name</label>
                            <input type="text" formControlName="name" autocomplete="off" class="form-control" placeholder="Enter name" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SurName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter sur name" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DateOfBirth</label>
                            <input type="date" autocomplete="off" class="form-control" placeholder="Enter date of birth" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCode</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter tax code" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCode Start Date</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCodeEndDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>


                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PhoneNumber</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter phone number" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Gender/Sex</label>
                            <select name="" id="" class="form-control">
                                <option value="">Male</option>
                                <option value="">Female</option>
                                <option value="">Others</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Marital Status</label>
                            <select name="" id="" class="form-control">
                                <option>type here</option>
                                <option>Celibe/Nubile - Unmarried Maiden</option>
                                <option>Coniugato/a - Married To</option>
                                <option>unito/a civilmente - joined civilly</option>
                                <option>separata legalmente - legally separated</option>
                                <option>sciolto/a legalmente - legally dissolved</option>
                                <option>sciolto/a da unione civile-dissolved from civil union - civil union</option>
                                <option>divorziato/a - divorced to</option>
                                <option>vedovo/a - widower</option>
                                <option>abbandonato/a - abandoned</option>
                                <option>parte superstite dell'unione civile- surviving part of the civil union</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Email Address</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter address" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PostalElectronicCertificate</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter postal electronic certificate" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">BirthPlace(Municipality)/BirthCity</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter birth city" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">StateOfBirth</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter state of birth" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">BirthStateCode</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter birth state code" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Nationality</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter nationality" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Citizen State Code</label>
                            <select name="" id="" class="form-control">
                                <option>type here</option>
                                <option>black</option>
                                <option>blue</option>
                                <option>gray</option>
                                <option>green</option>
                                <option>brown</option>
                                <option>amber</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Height(in)CM</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter height" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Reason/Motive</label>
                            <select name="" id="" class="form-control">
                                <option>List of Motive Type</option>
                                <option>Motivo Lavoro</option>
                                <option>SubordinatoAutonomo/Attesa</option>
                                <option>Occupazione</option>
                                <option>familiare</option>
                                <option>Codice di motivo 13,15,16</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CityOfResidence</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter city of residence" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">StateOfResidence</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter state of residence" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Occupation</label>
                            <select name="" id="" class="form-control">
                                <option value="">List of Profession</option>
                                <option value="">Lavoro Subordinato</option>
                                <option value="">Colf Badante - Care giver</option>
                                <option value="">disoccupazione - Unemployment</option>
                                <option value="">Lavoro Autonomo - self employment</option>
                                <option value="">lavoro agricoltura - agriculture work</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Ocupation Position</label>
                            <select name="" id="" class="form-control">
                                <option value="">“Dirigente” (executive);</option>
                                <option value="">“Quadro” (middle manager);</option>
                                <option value="">“Impiegato” (white collar employee);</option>
                                <option value="">“Operaio” (blue collar employee).</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex flex-wrap">
                            <label class="d-inline-block">Has UnEmployed Certificate</label>
                            <label class="checker ml-md-2">
                                <input class="checkbox" type="checkbox" />
                                <div class="check-bg"></div>
                                <div class="checkmark">
                                    <svg viewBox="0 0 100 100">
                                        <path d="M20,55 L40,75 L77,27" fill="none" stroke="#FFF" stroke-width="15"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">UnEmp.Cer.IssuesDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>ContractType</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IsYearlyIncome</label>
                            <input type="number" autocomplete="off" class="form-control" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>ContractType</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">HowManyHouseHasRent</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="has rent" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsHouseOwner</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">HouseCountryName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter house country name" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">HouseCityName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter house city name" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">MotorCar/HasCar</label>
                            <select name="" id="" class="form-control">
                                <option value="">Yes</option>
                                <option value="">No</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CarSerialNumber</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter car serial number" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CarNumberPlate</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter car number plate" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">HasInsurance</label>
                            <select name="" id="" class="form-control">
                                <option value="">Yes</option>
                                <option value="">No</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IsCompanyOwner</label>
                            <select name="" id="" class="form-control">
                                <option value="">Yes</option>
                                <option value="">No</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">HasWorker</label>
                            <select name="" id="" class="form-control">
                                <option value="">Yes</option>
                                <option value="">No</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DigitalVatCode</label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="Enter digital vat code" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">HasAppliedForCitizenship</label>
                            <select name="" id="" class="form-control">
                                <option value="">Yes</option>
                                <option value="">No</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RequestTypeOfApplicant</label>
                            <select value="" class="form-control">
                                <option value="">Rilascio- issue</option>
                                <option value="">Rinnovo - Renewal</option>
                                <option value="">Aggiornamento - Update</option>
                                <option value="">Duplicato - Duplicate</option>
                                <option value="">Conversione - Conversion</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ApplicationFor</label>
                            <select name="" id="" class="form-control">
                                <option value=""> Permesso Di Soggiorno - Residence permit</option>
                                <option value=""> Carta Di Soggiorno - Residence Permiti unlimited</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2">
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>