<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form [formGroup]="basicInfoForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">{{'basicUserFrom.title' | translate}}</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="backBtnClick()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.username.label' | translate}}*</label>
                            <input type="text" formControlName="name" autocomplete="off" class="form-control" placeholder="Enter name" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'basicUserFrom.surname.label' | translate}}*</label>
                            <input type="text" formControlName="surName" autocomplete="off" class="form-control" placeholder="Enter sur name" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DateOfBirth*</label>
                            <input type="date" formControlName="dateOfBirth" autocomplete="off" class="form-control" placeholder="Enter date of birth" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCode*</label>
                            <input type="text" formControlName="taxCode" autocomplete="off" class="form-control" placeholder="Enter tax code" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCodeStartDate</label>
                            <input type="date" formControlName="taxCodeStartDate" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCodeEndDate</label>
                            <input type="date" formControlName="taxCodeEndDate" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PhoneNumber*</label>
                            <input type="text" formControlName="phoneNumber" autocomplete="off" class="form-control" placeholder="Enter phone number" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Gender/Sex</label>
                            <select formControlName="genderId" name="" id="" class="form-control" >
                                <option *ngFor="let option of gender" [value]="option.genderId">{{option.name}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">MaritalStatus</label>
                            <select formControlName="MeritalStatusId" name="" id="" class="form-control">
                                <option *ngFor="let option of maritalStatus" [value]="option.MeritalStatusId">{{option.name}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">EmailAddress*</label>
                            <input formControlName="email" type="text" autocomplete="off" class="form-control" placeholder="Enter address" required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PostalElectronicCertificate</label>
                            <input formControlName="postalElectronicCertificate" type="text" autocomplete="off" class="form-control" placeholder="Enter postal electronic certificate" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CityOfBirth</label>
                            <input formControlName="cityOfBirth" type="text" autocomplete="off" class="form-control" placeholder="Enter birth city" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">StateOfBirth</label>
                            <input formControlName="stateOfBirth" type="text" autocomplete="off" class="form-control" placeholder="Enter state of birth" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">BirthStateCode</label>
                            <input formControlName="birthStateCode" type="text" autocomplete="off" class="form-control" placeholder="Enter birth state code" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Nationality</label>
                            <select formControlName="nationalityId" name="" id="" class="form-control">
                                <option *ngFor="let option of nationality" [value]="option.nationalityId">{{option.nationalityName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CitizenStateCode</label>
                            <input formControlName="citizenStateCode" type="text" autocomplete="off" class="form-control" placeholder="Enter CitizenStateCode" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">EyesColor</label>
                            <select formControlName="eyeColorId" name="" id="" class="form-control">
                                <option *ngFor="let option of eyeColor" [value]="option.eyeColorId">{{option.description}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Height(in)CM*</label>
                            <input formControlName="height" type="number" autocomplete="off" class="form-control" placeholder="Enter Height" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ZipCode</label>
                            <input formControlName="zipCode" type="text" autocomplete="off" class="form-control" placeholder="Enter Zip Code" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Reason/Motive</label>
                            <select formControlName="motiveTypeId" name="" id="" class="form-control">
                                <option *ngFor="let option of motiveType" [value]="option.motiveTypeId">{{option.motiveTypeName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Occupation</label>
                            <select formControlName="occupationTypeId" name="" id="" class="form-control">
                                <option *ngFor="let option of motiveType" [value]="option.motiveTypeId">{{option.motiveTypeName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">OcupationPosition</label>
                            <select formControlName="occupationPositionId" name="" id="" class="form-control">
                                <option value="1">UnEmployed</option>
                                <option value="2">Employed</option>
                                <option value="3">Shareholder</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasUnEmployedCertificate*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasUnEmployedCertificate">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasUnEmployedCertificate').value">
                        <div class="caf-input-group">
                            <label class="label">UnEmp.Cer.IssuesDate</label>
                            <input type="date" formControlName="unEmployedCertificateIssuesDate" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasUnEmployedCertificate').value">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasAnyUnEmployedFacility</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasAnyUnEmployedFacility">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label class="label">ContractType</label>
                            <select formControlName="contractTypeId" name="" id="" class="form-control">
                                <option value="1">No Limit</option>
                                <option value="2">Limited</option>
                                <option value="3">Occational</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">YearlyIncome*</label>
                            <input type="number" formControlName="yearlyIncome" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsRentHouse*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isRentHouse">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isRentHouse').value">
                        <div class="caf-input-group">
                            <label class="label">HowManyHouseHasRent</label>
                            <input type="number" formControlName="howManyHouseRent" autocomplete="off" class="form-control" placeholder="has rent" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsHouseOwner*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isHouseOwner">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isHouseOwner').value">
                        <div class="caf-input-group">
                            <label class="label">HouseCountryName</label>
                            <input type="text" formControlName="houseCountryName" autocomplete="off" class="form-control" placeholder="Enter house country name" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isHouseOwner').value">
                        <div class="caf-input-group">
                            <label class="label">HouseCityName</label>
                            <input type="text" formControlName="houseCityName" autocomplete="off" class="form-control" placeholder="Enter house city name" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasVehicle*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasVehicle">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasVehicle').value">
                        <div class="caf-input-group">
                            <label class="label">CarSerialNumber</label>
                            <input type="text" formControlName="carSerialNumber" autocomplete="off" class="form-control" placeholder="Enter car serial number" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasVehicle').value">
                        <div class="caf-input-group">
                            <label class="label">CarNumberPlate</label>
                            <input type="text" formControlName="carNumberPlate" autocomplete="off" class="form-control" placeholder="Enter car number plate" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('hasVehicle').value">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasVehicleInsurance</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasVehicleInsurance">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsCompanyOwner*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isCompanyOwner">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isCompanyOwner').value">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasWorker</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasWorker">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" [hidden]="!basicInfoForm.get('isCompanyOwner').value">
                        <div class="caf-input-group">
                            <label class="label">DigitalVatCode</label>
                            <input type="text" formControlName="digitalVatCode" autocomplete="off" class="form-control" placeholder="Enter digital vat code" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasAppliedForCitizenship*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="hasAppliedForCitizenship">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsPregnant*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="isPregnant">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ExpectedBabyBirthDate</label>
                            <input type="date" formControlName="expectedBabyBirthDate" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="backBtnClick()">
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button [disabled]="basicInfoForm.invalid" class="caf-btn-primary-outline" (click)="save()"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>