<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">ISEE Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeClass</label>
                            <select name="" id="" class="form-control">
                                <option value="1">Low</option>
                                <option value="2">Middle</option>
                                <option value="3">High</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeValue</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter IseeValue"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Point</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter Point"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeFamilyIncome</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter IseeFamilyIncome"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISPAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ISPAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISEAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ISEAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISRAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ISRAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IdentificationNumber</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter IdentificationNumber"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SubmittedDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DeliveryDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ExpiryDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2">
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
