<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #iseeInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">ISEE Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeClass*</label>
                            <select id="" class="form-control" name="iseeClassTypeId" #iseeClassTypeId="ngModel" [(ngModel)]="iseeInfoForm.iseeClassTypeId">
                                <option value="1">Low</option>
                                <option value="2">Middle</option>
                                <option value="3">High</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="iseeClassTypeId.valid || iseeClassTypeId.pristine" class="text-danger">IseeClass is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeValue*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter IseeValue" name="iseeValue" #iseeValue="ngModel" [(ngModel)]="iseeInfoForm.iseeValue"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="iseeValue.valid || iseeValue.pristine" class="text-danger">IseeValue is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Point*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter Point" name="point" #point="ngModel" [(ngModel)]="iseeInfoForm.point"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="point.valid || point.pristine" class="text-danger">Point is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeFamilyIncome*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter IseeFamilyIncome" name="iseeFamilyIncome" #iseeFamilyIncome="ngModel" [(ngModel)]="iseeInfoForm.iseeFamilyIncome"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="iseeFamilyIncome.valid || iseeFamilyIncome.pristine" class="text-danger">IseeFamilyIncome is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISPAmount*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ISPAmount" name="ispAmount" #ispAmount="ngModel" [(ngModel)]="iseeInfoForm.ispAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="ispAmount.valid || ispAmount.pristine" class="text-danger">ISPAmount is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISEAmount*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ISEAmount" name="iseAmount" #iseAmount="ngModel" [(ngModel)]="iseeInfoForm.iseAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="iseAmount.valid || iseAmount.pristine" class="text-danger">ISEAmount is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISRAmount*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ISRAmount" name="isrAmount" #isrAmount="ngModel" [(ngModel)]="iseeInfoForm.isrAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="isrAmount.valid || isrAmount.pristine" class="text-danger">ISRAmount is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IdentificationNumber*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter IdentificationNumber" name="identificationNumber" #identificationNumber="ngModel" [(ngModel)]="iseeInfoForm.identificationNumber"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="identificationNumber.valid || identificationNumber.pristine" class="text-danger">IdentificationNumber is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SubmittedDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="sumittedDate" #submittedDate="ngModel" [(ngModel)]="iseeInfoForm.submittedDate" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="submittedDate.valid || submittedDate.pristine" class="text-danger">SubmittedDate is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DeliveryDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="deliveryDate" #deliveryDate="ngModel" [(ngModel)]="iseeInfoForm.deliveryDate" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="deliveryDate.valid || deliveryDate.pristine" class="text-danger">DeliveryDate is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ExpiryDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="expiryDate" #expiryDate="ngModel" [(ngModel)]="iseeInfoForm.deliveryDate" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="expiryDate.valid || expiryDate.pristine" class="text-danger">ExpiryDate is required.</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()" >
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button type="submit"  [disabled]="!iseeInfoInputForm.form.valid"  class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
