<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #assetInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">{{'assetform.title' | translate}}</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            {{'common.back.label' | translate}}
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.assetType.label' | translate}}<span class="text-danger">*</span></label>
                            <select id="" class="form-control" name="assetTypeId" #assetTypeId="ngModel" [(ngModel)]="assetInfoForm.assetTypeId" required>
                                <option *ngFor="let option of assetTypeDropdown" [value]="option.assetTypeId">{{option.assetTypeName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="assetTypeId.valid || assetTypeId.pristine" class="text-danger">{{'assetform.assetType.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.numberOfAsset.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'assetform.numberOfAsset.placeholder' | translate}}" name="numberOfAsset" #numberOfAsset="ngModel" [(ngModel)]="assetInfoForm.numberOfAsset"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="numberOfAsset.valid || numberOfAsset.pristine" class="text-danger">{{'assetform.numberOfAsset.placeholder' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.equivalentMoneyMax.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'assetform.equivalentMoneyMax.placeholder' | translate}}" name="equivalentMoneyMax" #equivalentMoneyMax="ngModel" [(ngModel)]="assetInfoForm.equivalentMoneyMax"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="equivalentMoneyMax.valid || equivalentMoneyMax.pristine" class="text-danger">{{'assetform.equivalentMoneyMax.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.equivalentMoneyMin.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'assetform.equivalentMoneyMin.placeholder' | translate}}" name="equivalentMoneyMin" #equivalentMoneyMin="ngModel" [(ngModel)]="assetInfoForm.equivalentMoneyMin"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="equivalentMoneyMin.valid || equivalentMoneyMin.pristine" class="text-danger">{{'assetform.equivalentMoneyMin.label' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.moneyAverage.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'assetform.moneyAverage.placeholder' | translate}}" name="moneyAverage" #moneyAverage="ngModel" [(ngModel)]="assetInfoForm.moneyAverage"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="moneyAverage.valid || moneyAverage.pristine" class="text-danger">{{'assetform.moneyAverage.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.ownerType.label' | translate}}<span class="text-danger">*</span></label>
                            <select id="" class="form-control" name="ownerTypeId" #ownerTypeId="ngModel" [(ngModel)]="assetInfoForm.ownerTypeId" required>
                                <option *ngFor="let option of ownerTypeDropdown" [value]="option.ownerTypeId">{{option.ownerTypeName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.ownershipPercentage.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'assetform.ownershipPercentage.placeholder' | translate}}" name="ownershipPercentage" #ownershipPercentage="ngModel" [(ngModel)]="assetInfoForm.ownershipPercentage"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="ownershipPercentage.valid || ownershipPercentage.pristine" class="text-danger">{{'assetform.ownershipPercentage.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.ownerFromDate.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="date" autocomplete="off" class="form-control" name="ownerFromDate" #ownerFromDate="ngModel" [(ngModel)]="assetInfoForm.ownerFromDate" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="ownerFromDate.valid || ownerFromDate.pristine" class="text-danger">{{'assetform.ownerFromDate.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.rentAmount.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'assetform.rentAmount.placeholder' | translate}}" name="rentAmount" #rentAmount="ngModel" [(ngModel)]="assetInfoForm.rentAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="rentAmount.valid || rentAmount.pristine" class="text-danger">{{'assetform.rentAmount.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.taxAmount.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'assetform.taxAmount.placeholder' | translate}}" name="taxAmount" #taxAmount="ngModel" [(ngModel)]="assetInfoForm.taxAmount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="taxAmount.valid || taxAmount.pristine" class="text-danger">{{'assetform.taxAmount.label' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.useAblePercentage.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'assetform.useAblePercentage.placeholder' | translate}}" name="useAblePercentage" #useAblePercentage="ngModel" [(ngModel)]="assetInfoForm.useAblePercentage"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="useAblePercentage.valid || useAblePercentage.pristine" class="text-danger">{{'assetform.useAblePercentage.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'assetform.anyRestrictionByGovt.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'assetform.anyRestrictionByGovt.placeholder' | translate}}" name="anyRestrictionByGovt" #anyRestrictionByGovt="ngModel" [(ngModel)]="assetInfoForm.anyRestrictionByGovt"
                                    />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.cityName.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'common.cityName.placeholder' | translate}}" name="cityName" #cityName="ngModel" [(ngModel)]="assetInfoForm.cityName"
                                    />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.note.label' | translate}}</label>
                            <textarea rows="3" autocomplete="off" class="form-control" placeholder="{{'common.note.placeholder' | translate}}" name="note" #note="ngModel" [(ngModel)]="assetInfoForm.note"> </textarea>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                {{'common.back.label' | translate}}
                            </button>
                            <button type="submit" [disabled]="!assetInfoInputForm.form.valid" class="caf-btn-primary-outline">
                                <i class="fa fa-save pr-1"></i> {{'common.save.label' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>