<div class="unauthorize-carousel">
    <ngb-carousel [showNavigationArrows]="false">
        <ng-template ngbSlide>
            <div class="carousel-content">
                <div class="px-2 d-flex flex-wrap row">
                    <div class="col-md-4 order-md-2 d-flex align-items-center align-items-center">
                        <img class="img img-fluid m-auto rounded-circle bg-light"
                            src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/256/user-male-icon.png" />
                    </div>
                    <div class="col-md-8  order-md-1 pt-3 pt-md-0 d-flex align-items-center align-items-center">
                        <div>
                            <h3>Our project are awesome this time</h3>
                            <blockquote>
                                <p><em>ccaecat do ea laborum nisi. Aliquip sint amet laboris magna
                                        ut esse duis voluptate magna pariatur laborum reprehenderit id. Officia dolor
                                        exercitation
                                        fugiat dolore labore consectetur.</em></p>
                                <a class="text-light" href="#">Jhon smith</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="carousel-content">
                <div class="px-2">
                    <h3>Sint consectetur Lorem elit et</h3>
                    <div class="row">
                        <div class="col-4">
                            <img class="img img-fluid my-4" src="https://www.dw.com/image/40625051_101.jpg" />
                        </div>
                        <div class="col-8">
                            <p>Consequat enim elit qui pariatur tempor minim cupidatat ut cillum ea dolore quis ex
                                commodo.
                                Cupidatat proident elit reprehenderit irure anim enim est nostrud. Laboris id ipsum in
                                deserunt.
                                Nulla eiusmod sint ullamco aute velit non sunt nisi ea amet ex sint eu. Sit ipsum tempor
                                quis
                                elit eu esse aute ut cupidatat nisi fugiat reprehenderit. Id voluptate esse enim
                                voluptate
                                tempor ea labore aute nisi deserunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="carousel-content">
                <div class="px-2 d-flex flex-wrap row">
                    <div class="col-md-4 d-flex align-items-center align-items-center">
                        <img class="img img-fluid m-auto"
                            src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/256/user-male-icon.png" />
                    </div>
                    <div class="col-md-8 pt-3 pt-md-0 d-flex align-items-center align-items-center">
                        <div>
                            <h3>Our project are awesome.</h3>
                            <blockquote>
                                <p><em>ccaecat do ea laborum nisi. Aliquip sint amet laboris magna
                                        ut esse duis voluptate magna pariatur laborum reprehenderit id. Officia dolor
                                        exercitation
                                        fugiat dolore labore voluptate. Minim excepteur aliquip ex eiusmod. Cupidatat
                                        sint quis labore
                                        ipsum cupidatat nisi anim consequat consectetur.</em></p>
                                <a class="text-light" href="#">Jhon smith</a>
                            </blockquote>
                        </div>
                    </div>

                </div>
            </div>
        </ng-template>

    </ngb-carousel>
</div>