.app-header {
    position: relative;
    z-index: 99;
}

.main-container {
    overflow: hidden;
    height     : calc(100vh - 110px);
    position   : relative;

    @media screen and (max-height: 768px) {
        height    : auto;
        min-height: calc(100vh - 110px);
    }
}

.main-container .row {
    min-height: 100%;
}

.main-container .sidebar {
    height: 100%;
}

.footer-area {
    height    : 50px;
    text-align: center;
}

.footer-area p {
    margin: 0;
}