<div class="container-fluid ">
    <div class="row">
        <header class="app-header header-shadow landing-header">
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <div class="logo"><img class="logo-img" src="./assets/images/app-logo.jpg" alt="Logo" width="150"
                        height="110"></div>
                <nav>
                    <ul class="list-unstyled d-flex">
                        <li class="nav-item ml-2"><button class="btn btn-link"
                                [ngClass]="{'text-light': regOpen == 'in'}"
                                (click)="toggleRegClick()">Regristration</button></li>
                        <li class="nav-item ml-2"><button class="btn btn-link"
                                [ngClass]="{'text-light': menuState == 'in'}" (click)="toggleClick()">Login</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>

<div class="container-fluid">
    <div class="main-container">
        <app-right-site-panel [@animationRightToggle]="regOpen" (closePanel)="closePanel($event)">
            <app-user-registration></app-user-registration>
        </app-right-site-panel>

        <app-right-site-panel [@animationRightToggle]="menuState" (closePanel)="closePanel($event)">
            <app-user-login></app-user-login>
        </app-right-site-panel>

        <div class="row">
            <div class="col-12 px-0">
                <app-banner-slider></app-banner-slider>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <app-top-offers></app-top-offers>
                        </div>
                        <div class="col-lg-4">
                            <h3>Notice latest</h3>
                            <div
                                class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                <div class="dot-danger vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title">All Hands Meeting</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-warning vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <p>Yet another one, at <span class="text-success">15:00 PM</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-success vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title">Build the production release <div class="badge badge-danger ml-2">NEW</div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-primary vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title"> Something not important
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-warning vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <p>Yet another one, at <span class="text-success">15:00 PM</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-success vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title">Build the production release <div class="badge badge-danger ml-2">NEW</div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-info vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title">This dot has an info state</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-dark vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title">This dot has a dark state</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-danger vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title">All Hands Meeting</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-warning vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <p>Yet another one, at <span class="text-success">15:00 PM</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-success vertical-timeline-element">
                                    <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h3 class="timeline-title">Build the production release <div class="badge badge-danger ml-2">NEW</div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center py-2">
                <p class="m-0">©2020 helloorg, All rights reserved.</p>
            </div>
        </div>
    </div>
</div>