<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">House Rent Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">HouseType</label>
                            <select name="" id="" class="form-control">
                                <option value="1">Rent</option>
                                <option value="2">Owner</option>
                                <option value="3">SharedRent</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractType</label>
                            <select name="" id="" class="form-control">
                                <option value="1">Permanent Contract(Unlimited)</option>
                                <option value="2">Temporary Contract(Limited)</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">StartDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">EndDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">MonthlyRentAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter rent amount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ServiceChargeAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter service amount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RegistrationInfo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter registration info"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RegistrationDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RegistrationOffice</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter registration office"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RegistrationCode</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter registration code"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Registration#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter registration number"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RegistrationCity</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter registration city"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsJoined</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="IsJoined">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SharePercent</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter share percent"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Foglio#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter foglio number"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Partiocella#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter partiocella"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Sub#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter sub number"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Section#</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter section"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Category</label>
                            <select name="" id="" class="form-control">
                                <option value="1">Category A</option>
                                <option value="2">Category B</option>
                                <option value="3">Category C</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Zona</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter Zona"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">MicroZona</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter micro zona"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Consistenza</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter consistenza"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SuperficieCatastale</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter superficie catastale"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Rendita</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter rendita"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">NotaioInfo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter notaio info"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasLoan</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="IsJoined">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">LoanStatus</label>
                            <select name="" id="" class="form-control">
                                <option value="1">Dummy A</option>
                                <option value="2">Dummy B</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">LoanStartDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">LoanAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter loan amount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PaidAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter paid amount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">InterestType</label>
                            <select name="" id="" class="form-control">
                                <option value="1">Fixed Interest</option>
                                <option value="2">Variable Interest</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Tenor/LoanPeriod</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter loan period"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsRentByOwner</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" formControlName="IsRentByOwner">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RentAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter rent amount"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2">
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>