<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #documentInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">Document Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DocumentType*</label>
                            <select id="" class="form-control" name="documentTypeId" #documentTypeId="ngModel" [(ngModel)]="documentInfoForm.documentTypeId" required>
                                <option value="1">Passport</option>
                                <option value="2">Driving License</option>
                                <option value="3">National Id</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="documentTypeId.valid || documentTypeId.pristine" class="text-danger">Document type is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DocumentName*</label>
                            <input type="text" autocomplete="off" class="form-control" name="documentName" #documentName="ngModel" [(ngModel)]="documentInfoForm.documentName" placeholder="Enter document name"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="documentName.valid || documentName.pristine" class="text-danger">DocumentName is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Issued By*</label>
                            <input type="text" autocomplete="off" class="form-control" name="issuedBy" #issuedBy="ngModel" [(ngModel)]="documentInfoForm.issuedBy" placeholder="Enter issues by"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="issuedBy.valid || issuedBy.pristine" class="text-danger">Issued by is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IssuedDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="issuedDate" #issuedDate="ngModel" [(ngModel)]="documentInfoForm.issuedDate" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="issuedDate.valid || issuedDate.pristine" class="text-danger">Issued date is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ExpiryDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="expiryDate" #expiryDate="ngModel" [(ngModel)]="documentInfoForm.expiryDate" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="expiryDate.valid || expiryDate.pristine" class="text-danger">Expiry date is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PurposeOfDocument*</label>
                            <input type="text" autocomplete="off" class="form-control" name="purposeOfDocument" #purposeOfDocument="ngModel" [(ngModel)]="documentInfoForm.purposeOfDocument" placeholder="Enter purpose of document"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="purposeOfDocument.valid || purposeOfDocument.pristine" class="text-danger">Purpose Of document is required.</p>
                        </div>
                    </div>

                </div>
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <!-- Standar Form -->
                                <h4>Select files from your computer</h4>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="file"
                                                   id="file"
                                                   (change)="handleFileInput($event.target.files)">
                                        </div>
                                    </div>

                                <!-- Upload Finished -->
                                    <div class="js-upload-finished">
                                        <h3>Processed files</h3>
                                        <div class="list-group">
                                            <a href="{{documentInfoForm.urls[0]}}" target="_blank" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>{{documentInfoForm.urls[0]}}</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()" >
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button type="submit"  [disabled]="!documentInfoInputForm.form.valid" class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>