<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #documentInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">{{'documentform.title' | translate}}</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            {{'common.back.label' | translate}}
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'documentform.documenttype.label' | translate}}<span class="text-danger">*</span></label>
                            <select id="" class="form-control" name="documentTypeId" #documentTypeId="ngModel" [(ngModel)]="documentInfoForm.documentTypeId" required>
                                <option *ngFor="let option of documentTypeDropdown" [value]="option.documentTypeId">{{option.documentName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="documentTypeId.valid || documentTypeId.pristine" class="text-danger">{{'documentform.documenttype.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'documentform.documentname.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" class="form-control" name="documentName" #documentName="ngModel" [(ngModel)]="documentInfoForm.documentName" placeholder="{{'documentform.documentname.placeholder' | translate}}"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="documentName.valid || documentName.pristine" class="text-danger">{{'documentform.documentname.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'documentform.documentnumber.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" name="documentNumber" #documentNumber="ngModel" [(ngModel)]="documentInfoForm.documentNumber" placeholder="{{'documentform.documentnumber.placeholder' | translate}}"/>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'documentform.issuedBy.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" class="form-control" name="issuedBy" #issuedBy="ngModel" [(ngModel)]="documentInfoForm.issuedBy" placeholder="{{'documentform.issuedBy.placeholder' | translate}}"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="issuedBy.valid || issuedBy.pristine" class="text-danger">{{'documentform.issuedBy.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'documentform.issuedDate.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="date" autocomplete="off" class="form-control" name="issuedDate" #issuedDate="ngModel" [(ngModel)]="documentInfoForm.issuedDate" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="issuedDate.valid || issuedDate.pristine" class="text-danger">{{'documentform.issuedDate.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'documentform.expiryDate.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="date" autocomplete="off" class="form-control" name="expiryDate" #expiryDate="ngModel" [(ngModel)]="documentInfoForm.expiryDate" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="expiryDate.valid || expiryDate.pristine" class="text-danger">{{'documentform.expiryDate.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'documentform.purposeOfDocument.label' | translate}}<span class="text-danger">*</span></label>
                            <textarea autocomplete="off" class="form-control" name="purposeOfDocument" #purposeOfDocument="ngModel" [(ngModel)]="documentInfoForm.purposeOfDocument" placeholder="{{'documentform.purposeOfDocument.placeholder' | translate}}"
                                     rows="3" required ></textarea>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="purposeOfDocument.valid || purposeOfDocument.pristine" class="text-danger">{{'documentform.purposeOfDocument.required' | translate}}</p>
                        </div>
                    </div>

                </div>
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <!-- Standar Form -->
                                <h4>{{'documentform.selectfiles.label' | translate}}</h4>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="file"
                                                   id="file"
                                                   (change)="handleFileInput($event.target.files)">
                                        </div>
                                    </div>

                                <!-- Upload Finished -->
                                    <div class="js-upload-finished mt-3" *ngIf="(documentInfoForm.documentSrc||'')!=''">
                                        <h3>{{'documentform.documents.label' | translate}}</h3>
                                        <!--<div class="list-group" *ngFor="let file of documentInfoForm.urls">-->
                                        <div class="list-group" >
                                            <a href="{{documentInfoForm.documentSrc}}"
                                               target="_blank" class="list-group-item list-group-item-success">
                                                <span class="badge alert-success pull-right">{{'documentform.download.label' | translate}}</span>{{(documentInfoForm.documentSrc||'').split('/').pop()}}
                                            </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                {{'common.back.label' | translate}}
                            </button>
                            <button type="submit" [disabled]="!documentInfoInputForm.form.valid" class="caf-btn-primary-outline">
                                <i class="fa fa-save pr-1"></i>{{'common.save.label' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>