<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #familyInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">Family Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Name*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter Name"
                                   required name="name" [(ngModel)]="familyInfoForm.name" #name="ngModel" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="name.valid || name.pristine" class="text-danger">Name is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SurName*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter Sur name"
                                   required name="surName" [(ngModel)]="familyInfoForm.surName" #surName="ngModel" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="surName.valid || surName.pristine" class="text-danger">Sur-name is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DateOfBirth*</label>
                            <input type="date" autocomplete="off" class="form-control" placeholder="Enter dateofbirth" #surName="ngModel" name="dateOfBirth" [(ngModel)]="familyInfoForm.dateOfBirth"
                                   required #dateOfBirth="ngModel" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="dateOfBirth.valid || dateOfBirth.pristine" class="text-danger">Date of birth is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TaxCode</label>
                            <input type="text" autocomplete="off" name="taxCode" [(ngModel)]="familyInfoForm.taxCode" #taxCode="ngModel" class="form-control" placeholder="Enter tax code" />
                            <p class="text-info d-none">Info message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PhoneNumber</label>
                            <input type="text" autocomplete="off" class="form-control" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="familyInfoForm.phoneNumber" placeholder="Enter phone number" />
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">RelationType</label>
                            <select id="" class="form-control" name="relationTypeId" #relationTypeId="ngModel" [(ngModel)]="familyInfoForm.relationTypeId">
                                <!--<option>type here</option>-->
                                <option value="1">Father</option>
                                <option value="2">Mother</option>
                                <option value="3">Son</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">BirthPlace</label>
                            <input type="text" autocomplete="off" class="form-control" name="placeOfBirth" #placeOfBirth="ngModel" [(ngModel)]="familyInfoForm.placeOfBirth" placeholder="Enter birth city" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Nationality</label>
                            <select id="" class="form-control" name="nationlityId" #nationlityId="ngModel" [(ngModel)]="familyInfoForm.nationlityId">
                                <!--<option>type here</option>-->
                                <option value="1">Bangladeshi</option>
                                <option value="2">Italian</option>
                                <option value="3">Indian</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PreviousNationality</label>
                            <select id="" class="form-control" name="previousNationalityId" #previousNationalityId="ngModel" [(ngModel)]="familyInfoForm.previousNationalityId">
                                <!--<option>type here</option>-->
                                <option value="1">Bangladeshi</option>
                                <option value="2">Italian</option>
                                <option value="3">Indian</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Occupation</label>
                            <select id="" class="form-control" name="occupationTypeId" #occupationTypeId="ngModel" [(ngModel)]="familyInfoForm.occupationTypeId">
                                <!--<option>List of Profession</option>-->
                                <option value="1">Lavoro Subordinato</option>
                                <option value="2">Colf Badante - Care giver</option>
                                <option value="3">disoccupazione - Unemployment</option>
                                <option value="4">Lavoro Autonomo - self employment</option>
                                <option value="5">lavoro agricoltura - agriculture work</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ResidenceScope</label>
                            <select id="" class="form-control" name="residenceScopeId" #residenceScopeId="ngModel" [(ngModel)]="familyInfoForm.residenceScopeId">
                                <!--<option>type here</option>-->
                                <option value="1">Italy</option>
                                <option value="2">Out Of Italy</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsDependent*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isDependent" #isDependent="ngModel" [(ngModel)]="familyInfoForm.isDependent" required>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="isDependent.valid || isDependent.pristine" class="text-danger">Is dependent is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DependentPercentage*</label>
                            <input type="text" autocomplete="off" name="dependentPercentage" #dependentPercentage="ngModel" [(ngModel)]="familyInfoForm.dependentPercentage" class="form-control" placeholder="Enter dependent percentage"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="dependentPercentage.valid || dependentPercentage.pristine" class="text-danger">DependentPercentage is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsDisabled*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isDisabled" #isDisabled="ngModel" [(ngModel)]="familyInfoForm.isDisabled" required>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="isDisabled.valid || isDisabled.pristine" class="text-danger">IsDisabled is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DisablePercentage*</label>
                            <input type="text" autocomplete="off" name="disabledPercentage" #disabledPercentage="ngModel" [(ngModel)]="familyInfoForm.disabledPercentage" class="form-control" placeholder="Enter disable percentage"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="disabledPercentage.valid || disabledPercentage.pristine" class="text-danger">DisablePercentage is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">YearlyIncome*</label>
                            <input type="text" autocomplete="off" name="yearlyIncome" #yearlyIncome="ngModel" [(ngModel)]="familyInfoForm.yearlyIncome" class="form-control" placeholder="Enter yearly income"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="yearlyIncome.valid || yearlyIncome.pristine" class="text-danger">Yearly income is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsAppliedForCitizenship*</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isAppliedForCitizenship" #isAppliedForCitizenship="ngModel" [(ngModel)]="familyInfoForm.isAppliedForCitizenship" required>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="isAppliedForCitizenship.valid || isAppliedForCitizenship.pristine" class="text-danger">IsAppliedForCitizenship is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ApplicationCode</label>
                            <input type="text" autocomplete="off" class="form-control" name="applicationCode" #applicationCode="ngModel" [(ngModel)]="familyInfoForm.applicationCode" placeholder="Enter application code" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ApplicationDate</label>
                            <input type="date" autocomplete="off" class="form-control" name="applicationDate" #applicationDate="ngModel" [(ngModel)]="familyInfoForm.applicationDate" placeholder="Enter application date" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ApplicationCity</label>
                            <input type="text" autocomplete="off" class="form-control" name="applicationCity" #applicationCity="ngModel" [(ngModel)]="familyInfoForm.applicationCity" placeholder="Enter application city" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">
                                ApplicationPlacedAddress
                            </label>
                            <input type="text" autocomplete="off" class="form-control" name="applicationPlacedAddress" #applicationPlacedAddress="ngModel" [(ngModel)]="familyInfoForm.applicationPlacedAddress" placeholder="Enter ApplicationPlacedAddress" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">FileNumber</label>
                            <input type="text" autocomplete="off" class="form-control" name="applicationFileNumber" #applicationFileNumber="ngModel" [(ngModel)]="familyInfoForm.applicationFileNumber" placeholder="Enter file number" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ApplicationPlacedDate</label>
                            <input type="date" autocomplete="off" class="form-control" name="applicationPlacedDate" #applicationPlacedDate="ngModel" [(ngModel)]="familyInfoForm.applicationPlacedDate" placeholder="Enter file placed date" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()" >
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button type="submit" [disabled]="!familyInfoInputForm.form.valid" class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>