<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #workerInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">
                        {{'workerform.title' | translate}}
                        </span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            {{'common.back.label' | translate}}
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'workerform.workerType.label' | translate}}<span class="text-danger">*</span></label>
                            <select id="" class="form-control" name="workerTypeId" #workerTypeId="ngModel" [(ngModel)]="workerInfoForm.workerTypeId" required>
                                <option *ngFor="let option of workerTypeDropdown" [value]="option.workerTypeId">{{option.workerTypeName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="workerTypeId.valid || workerTypeId.pristine" class="text-danger">{{'workerform.workerType.placeholder' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'workerform.name.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'workerform.name.placeholder' | translate}}" name="name" #name="ngModel" [(ngModel)]="workerInfoForm.name"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="name.valid || name.pristine" class="text-danger">{{'workerform.name.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'workerform.surname.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'workerform.surname.placeholder' | translate}}" name="surName" #surName="ngModel" [(ngModel)]="workerInfoForm.surName"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="surName.valid || surName.pristine" class="text-danger">{{'workerform.surname.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.taxCode.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'common.taxCode.placeholder' | translate}}" name="taxCode" #taxCode="ngModel" [(ngModel)]="workerInfoForm.taxCode"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="taxCode.valid || taxCode.pristine" class="text-danger">{{'common.taxCode.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'workerform.contractNumber.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'workerform.contractNumber.label' | translate}}" name="contractNumber" #contractNumber="ngModel" [(ngModel)]="workerInfoForm.contractNumber"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="contractNumber.valid || contractNumber.pristine" class="text-danger">{{'workerform.contractNumber.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'workerform.monthlySalary.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="{{'workerform.monthlySalary.placeholder' | translate}}" name="monthlySalary" #monthlySalary="ngModel" [(ngModel)]="workerInfoForm.monthlySalary"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="monthlySalary.valid || monthlySalary.pristine" class="text-danger">{{'workerform.monthlySalary.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.startDate.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="date" autocomplete="off" class="form-control" name="startDate" #startDate="ngModel" [(ngModel)]="workerInfoForm.startDate"  required/>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="startDate.valid || startDate.pristine" class="text-danger">{{'common.startDate.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.endDate.label' | translate}}</label>
                            <input type="date" autocomplete="off" class="form-control" name="endDate" #endDate="ngModel" [(ngModel)]="workerInfoForm.endDate" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="endDate.valid || endDate.pristine" class="text-danger">{{'common.endDate.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.status.label' | translate}}</label>
                            <select id="" class="form-control" name="status" [(ngModel)]="workerInfoForm.status" #status="ngModel">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                {{'common.back.label' | translate}}
                            </button>
                            <button class="caf-btn-primary-outline" type="submit"  [disabled]="!workerInfoInputForm.form.valid">
                                <i class="fa fa-save pr-1"></i>  {{'common.save.label' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
