<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #bankInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">{{'bankform.title' | translate}}</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            {{'common.back.label' | translate}}
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>                    
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'bankform.bankName.label' | translate}}<span class="text-danger">*</span></label>
                            <select id="" class="form-control" name="bankNameId" #bankNameId="ngModel" [(ngModel)]="bankInfoForm.bankNameId" required>
                                <option *ngFor="let option of bankNameDropdown" [value]="option.bankNameId">{{option.bankDescription}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'bankform.branchName.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" name="branchName" #branchName="ngModel" [(ngModel)]="bankInfoForm.branchName" placeholder="{{'bankform.branchName.placeholder' | translate}}"/>
                            
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">
                                {{'bankform.accountNumber.label' | translate}}<span class="text-danger">*</span>
                            </label>
                            <input type="text" autocomplete="off" class="form-control" name="accountNumber" #accountNumber="ngModel" [(ngModel)]="bankInfoForm.accountNumber" placeholder="{{'bankform.accountNumber.placeholder' | translate}}"
                                   required />
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'bankform.swiftNumber.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" name="swiftNumber" #swiftNumber="ngModel" [(ngModel)]="bankInfoForm.swiftNumber" placeholder="{{'bankform.swiftNumber.placeholder' | translate}}"
                                    />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.status.label' | translate}}</label>
                            <select id="" class="form-control" name="status" [(ngModel)]="bankInfoForm.status" #status="ngModel">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                {{'common.back.label' | translate}}
                            </button>
                            <button type="submit" [disabled]="!bankInfoInputForm.form.valid" class="caf-btn-primary-outline">
                                <i class="fa fa-save pr-1"></i>{{'common.save.label' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>