<div ngbDropdown autoclose="outside" class="btn-group dropdown notify-dropdown" placement="bottom"
    ng-reflect-auto-close="outside" ng-reflect-placement="bottom">
    <button ngbDropdownToggle aria-haspopup="true" class="btn btn-link p-0 mr-2 dropdown-toggle" ngbdropdowntoggle=""
        type="button" aria-expanded="false"><span>
            <div class="icon-wrapper overflow-visiable icon-wrapper-alt rounded-circle d-flex align-items-center justify-content-center">
                <div class="icon-wrapper-bg bg-danger"></div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                </svg>

                <span class="notify-counter">10</span>
                
                <div class="badge badge-dot badge-dot-sm badge-danger d-none">Notifications</div>
            </div>
        </span>
    </button>

    <div class="dropdown-menu-xl dropdown-menu p-0 notifications-dropdown" ngbDropdownMenu x-placement="rigth">
        <div class="card-tabbed-header">
            <div class="card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon lnr-lighter icon-gradient bg-amy-crisp"> </i>
                       <h4>Notifications</h4> 
                    </div>
                </div>
                <div class="scroll-area-lg">
                    <perfect-scrollbar [autoPropagation]="true">
                        <div class="p-4">
                            <div
                                class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                <div class="dot-danger vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title"><a href="#">New offer posted</a> </h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-warning vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Declined your request</h4>
                                            <p>from admin <span class="text-success">15:00 PM</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-success vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Approved your request
                                                <div class="badge badge-danger ml-2">NEW</div>
                                            </h4>
                                            <p>Request id: 659875 are approved <a href="#">view details</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-danger vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title"><a href="#">New offer posted</a> </h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-warning vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Declined your request</h4>
                                            <p>from admin <span class="text-success">15:00 PM</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-success vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Approved your request
                                                <div class="badge badge-danger ml-2">NEW</div>
                                            </h4>
                                            <p>Request id: 659875 are approved <a href="#">view details</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-danger vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title"><a href="#">New offer posted</a> </h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-warning vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Declined your request</h4>
                                            <p>from admin <span class="text-success">15:00 PM</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-success vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Approved your request
                                                <div class="badge badge-danger ml-2">NEW</div>
                                            </h4>
                                            <p>Request id: 659875 are approved <a href="#">view details</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-danger vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title"><a href="#">New offer posted</a> </h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-warning vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Declined your request</h4>
                                            <p>from admin <span class="text-success">15:00 PM</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-success vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Approved your request
                                                <div class="badge badge-danger ml-2">NEW</div>
                                            </h4>
                                            <p>Request id: 659875 are approved <a href="#">view details</a></p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-center card-footer">
                    <a href="#">View all notifications</a>
                </div>
            </div>
        </div>
    </div>
</div>