<div class="card mb-4">
    <div class="card-body card-shadow">
        <form action="">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title">Isee Informations</h3>
                    </div>
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title-center text-center">Isee Informations</h3>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeClass</label>
                            <select name="" id="" class="form-control">
                                <option value="">Low</option>
                                <option value="">Middle</option>
                                <option value="">High</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeValue</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Point</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IseeFamilyIncome</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISPAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISEAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISRAmount</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IdnetificationNumber</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SumittedDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DeliveryDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ExpiryDate</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6"></div>
                    <div class="col-lg-4 col-md-6">
                        <button class="caf-btn-primary-outline w-100">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-6"></div>
                </div>
            </div>
        </form>
    </div>
</div>
