<div class="card mb-4">
    <div class="card-body card-shadow">
        <form action="">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title">Income Informations</h3>
                    </div>
                    <div class="col-12 pb-4">
                        <h3 class="bordered-title-center text-center">Income Informations</h3>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">IncomeType</label>
                            <select name="" id="" class="form-control">
                                <option value="">Personal</option>
                                <option value="">Business</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">YearlyIncome</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter jobhour"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">MontlyIncome</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter jobhour"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Year</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Month</label>
                            <input type="date" autocomplete="off" class="form-control" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Document</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Status</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter companyname"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6"></div>
                    <div class="col-lg-4 col-md-6">
                        <button class="caf-btn-primary-outline w-100">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-6"></div>
                </div>
            </div>
        </form>
    </div>
</div>