:host {
    position  : fixed;
    left      : auto;
    right     : 0;
    top       : 0;
    max-height: 100vh;
    overflow  : auto;
    z-index   : 500;
    z-index: 666;
    
    @media screen and (min-width: 767px) {
        width: 450px;
    }
    
    @media screen and (max-width: 768px) {
        width: 350px;
    }
    
    height    : 100%;
    min-height: 350px;
    z-index   : 10;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
