<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->
<div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="pb-4">
            <app-current-offer></app-current-offer>
        </div>

        <div class="pb-4">
            <app-offer-status></app-offer-status>
        </div>
                <div class="pb-4">
            <app-offer-history></app-offer-history>
        </div>        
    </div>
</div>

<app-chat-box-popup></app-chat-box-popup>
<!--<app-section-to-section-link></app-section-to-section-link>-->
