<div class=" bg-plum-plate">
  <div class="d-flex justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="modal-dialog margin-auto" style="max-width: 550px;">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title">
              <div class="text-center">
                <img class="logo-img" src="./assets/images/logo.png" alt="Logo" width="150" height="110">
              </div>
              <h4 class="mt-2 text-center">
                <div>Welcome,</div>
                <span>It only takes a few seconds to create your account</span></h4>
            </h5>
            <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_"
                 class="form-group form-group-berger">
                 <label class="required mb-0">Email</label>
                <input id="exampleInput1" type="email" placeholder="Enter email..." required="required"
                          aria-required="true" class="form-control form-control-berger"
                          aria-describedby="exampleInputGroup1__BV_description_">
                <small tabindex="-1" id="exampleInputGroup1__BV_description_" class="form-text text-muted">
                </small>
            </div>
            <div id="exampleInputGroup12" role="group" class="form-group form-group-berger">
              <label class="required mb-0">Username</label>
              <input id="exampleInput12" type="text" placeholder="Enter username..." required="required"
                          aria-required="true" class="form-control form-control-berger">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="exampleInputGroup2" role="group" class="form-group form-group-berger">
                  <label class="required mb-0">Password</label>
                    <input id="exampleInput2" type="password" placeholder="Enter password..." required="required"
                              aria-required="true" class="form-control form-control-berger">
                </div>
              </div>
              <div class="col-md-6">
                <div id="exampleInputGroup2" role="group" class="form-group form-group-berger">
                  <label class="required mb-0">Password</label>
                  <input id="exampleInput2" type="password" placeholder="Repeat password..." required="required"
                              aria-required="true" class="form-control form-control-berger">
                </div>
              </div>
              <div class="col-md-6">
                <div class="custom-control custom-checkbox">
                  <input id="exampleCheck" type="checkbox" name="check" autocomplete="off" class="custom-control-input" value="true">
                  <label for="exampleCheck" class="custom-control-label login-checkbox">Accept our 
                    <a [routerLink]="">Terms and Conditions</a>.</label>
                </div>
              </div>
              <div class="col-md-6">
                <h6 class="mb-0">
                  have an account?
                  <a [routerLink]="" class="text-primary">Sign in</a>
                </h6>
              </div>
            </div>
            <div class="text-center my-3">
                  <button  type="button" class="btn btn-primary btn-lg">Create Account</button>
            </div>
            </div>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-2">
        Copyright © JTI
      </div>
    </div>
  </div>
</div>
