<form class="user-form">
    <div class="container">
        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group">
                    <label class="required">User Name</label>
                    <input type="text" autocomplete="off" class="form-control"  placeholder="User name" />
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group">
                    <label class="required">Password</label>
                    <input type="password" autocomplete="off" placeholder="Password" class="form-control"  />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <button type="Submit" class="btn btn-primary btn-lg w-50">Loign</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <p><a href="#" >Forgot your password</a></p>
                    <p><a href="#" >Or Regrister</a></p>
                </div>
            </div>
        </div>
    </div>
</form>