<form class="user-form" *ngIf="!otpEnable">
    <div class="container">
        <div class="form-row pb-3">
            <h3><span class="bordered-title">User Login</span></h3>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Email Or Phone Number</label>
                    <input type="text" autocomplete="off" class="form-control" placeholder="Enter email  or phone number" required name="email" [(ngModel)]="loginModel.email" />
                    <p class="text-info"></p>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="caf-input-group">
                    <label class="label">Password</label>
                    <input type="password" autocomplete="off" placeholder="Password" class="form-control" required name="password" [(ngModel)]="loginModel.password" />
                    <p class="text-danger"></p>
                </div>
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-12">
                <div class="alert alert-warning" role="alert" *ngIf="errorMessage!=null">
                    {{errorMessage}}
                </div>
                <div class="position-relative form-group text-center">
                    <button type="button" class="caf-btn-primary-outline btn-sm w-100" (click)="fnLogin()">Login</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="position-relative form-group text-center">
                    <p><a href="javascript:void(0)" (click)="fnForgotPassword()">Forgot your password</a></p>
                    <p><a href="javascript:void(0)" (click)="fnRegistration()">Or Register</a></p>
                </div>
            </div>
        </div>
    </div>
</form>