
  <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
      <div class="container">
          <div class="form-row pb-3">
              <h4 class="mt-2">
                  <div>Recover your Password?</div>
                  <span>Use the form below to recover it.</span>
              </h4>

              <div *ngIf="errorMessage" class="text-danger font-weight-bold">{{errorMessage}}</div>

          </div>
          <div class="form-row">
              <div class="col-12">
                  <div class="caf-input-group">
                      <label class="label">Email</label>
                      <input type="email" autocomplete="off" class="form-control" formControlName="email" placeholder="Your email"
                             [ngClass]="{'is-valid':ufControls.email.touched && !ufControls.email.errors,
              'is-invalid':ufControls.email.touched && ufControls.email.errors }" />
                      <p class="text-info">
                          <small class="text-danger" *ngIf="ufControls.email.touched && ufControls.email.errors">
                              <span *ngIf="ufControls.email.errors.required">Email address is <strong>required</strong></span>
                          </small>
                      </p>
                  </div>
              </div>
          </div>

          <div class="form-row">
              <div class="col-12">
                  <div class="caf-input-group">
                      <label class="label">Password</label>
                      <input [type]="newPasswordTextType ? 'text' : 'password'" autocomplete="off" class="form-control" formControlName="newPassword" placeholder="New Password"
                             [ngClass]="{'is-valid':ufControls.newPassword.touched && !ufControls.newPassword.errors,
              'is-invalid':ufControls.newPassword.touched && ufControls.newPassword.errors }" />
                      <p class="text-info">
                          <small class="text-danger" *ngIf="ufControls.newPassword.touched && ufControls.newPassword.errors">
                              <span *ngIf="ufControls.newPassword.errors.required">New Password is <strong>required</strong></span>
                          </small>
                      </p>
                  </div>
              </div>
          </div>

          <div class="form-row">
              <div class="col-12">
                  <div class="caf-input-group">
                      <label class="label">Confirm Password</label>
                      <input [type]="confirmPasswordTextType ? 'text' : 'password'" autocomplete="off" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password"
                             [ngClass]="{'is-valid':ufControls.confirmPassword.touched && !ufControls.confirmPassword.errors,
                'is-invalid':ufControls.confirmPassword.touched && ufControls.confirmPassword.errors }" />
                      <p>
                          <small class="text-danger" *ngIf="ufControls.confirmPassword.touched && ufControls.confirmPassword.errors">
                              <span *ngIf="ufControls.confirmPassword.errors.required">Confirm Password is <strong>required</strong></span>
                              <span *ngIf="ufControls.confirmPassword.errors.mustMatch">Password & Confirm Password <strong>must be match</strong></span>
                          </small>
                      </p>
                  </div>
              </div>
          </div>

          <div class="form-row">
              <div class="col-12">
                  <div class="position-relative form-group text-center">
                      <button type="submit" [disabled]="isLoading || resetPassForm.invalid" class="caf-btn-primary-outline btn-sm w-100" style="min-width: 180px;">
                          <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                          {{isLoading?'Loading...':'Submit'}}
                      </button>
                  </div>
              </div>
          </div>

          <div class="form-row">
              <div class="col-12">

                  <div class="text-center text-light opacity-8 mt-2">
                      Copyright © Option-B
                  </div>

              </div>
          </div>
      </div>

</form>