<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #educationInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">{{'educationform.title' | translate}}</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            {{'common.back.label' | translate}}
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'educationform.degreeType.label' | translate}}<span class="text-danger">*</span></label>
                            <select id="" class="form-control" name="degreeTypeId" #degreeTypeId="ngModel" [(ngModel)]="educationInfoForm.degreeTypeId" required>
                                <option value="1">Bachelor</option>
                                <option value="2">Masters</option>
                                <option value="3">High School</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="degreeTypeId.valid || degreeTypeId.pristine" class="text-danger">{{'educationform.degreeType.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.startYear.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="date" autocomplete="off" class="form-control" name="startYear" #startYear="ngModel" [(ngModel)]="educationInfoForm.startYear" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="startYear.valid || startYear.pristine" class="text-danger">{{'common.startYear.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'common.endYear.label' | translate}}</label>
                            <input type="date" autocomplete="off" class="form-control" name="endYear" #endYear="ngModel" [(ngModel)]="educationInfoForm.endYear" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="endYear.valid || endYear.pristine" class="text-danger">{{'common.endYear.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'educationform.institutionName.label' | translate}}<span class="text-danger">*</span></label>
                            <input type="text" autocomplete="off" name="institutionName" [(ngModel)]="educationInfoForm.institutionName" #institutionName="ngModel" class="form-control" placeholder="{{'educationform.institutionName.placeholder' | translate}}"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="institutionName.valid || institutionName.pristine" class="text-danger">{{'educationform.institutionName.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'educationform.universityAddress.label' | translate}}</label>
                            <input type="text" autocomplete="off" name="universityAddress" [(ngModel)]="educationInfoForm.universityAddress" #universityAddress="ngModel" class="form-control" placeholder="{{'educationform.universityAddress.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'educationform.result.label' | translate}}</label>
                            <input type="text" autocomplete="off" name="result" [(ngModel)]="educationInfoForm.result" #result="ngModel" class="form-control" placeholder="{{'educationform.result.placeholder' | translate}}" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">{{'educationform.activitiesAndSocieties.label' | translate}}</label>
                            <textarea name="activitiesAndSocieties" [(ngModel)]="educationInfoForm.activitiesAndSocieties" #activitiesAndSocieties="ngModel" class="form-control" placeholder="{{'educationform.activitiesAndSocieties.placeholder' | translate}}" rows="3"></textarea>
                            <!--<textarea autocomplete="off" name="activitiesAndSocieties" [(ngModel)]="educationInfoForm.activitiesAndSocieties" #activitiesAndSocieties="ngModel" class="form-control" placeholder="{{'educationform.activitiesAndSocieties.placeholder' | translate}}" />-->
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <a href="javascript:void(0)" class="caf-btn-primary-outline back mr-2" (click)="this.fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                {{'common.back.label' | translate}}
                            </a>
                            <button type="submit" [disabled]="!educationInfoInputForm.form.valid" class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i>{{'common.save.label' | translate}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>