@import "assets/base";
.spinner-overlay {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
}

.spinner-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #3f51b5;
}

.form-control.ng-invalid.ng-touched {
    border-color: #ecafaf;
    box-shadow: 0 0 2px 0px #f56565;
    background: #fff;
}

.form-control.ng-touched.ng-valid {
    background: #fff;
    border-color: #a4d8bb;
    box-shadow: 0 0 3px 1px rgb(0 150 136 / 62%);
}