<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #movementInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">Movement Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CountryName*</label>
                            <select id="" class="form-control" name="countryNameId" #countryNameId="ngModel" [(ngModel)]="movementInfoForm.countryNameId" required>
                                <option value="1">Italy</option>
                                <option value="2">Bangladesh</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="countryNameId.valid || countryNameId.pristine" class="text-danger">CountryName is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">StartDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="startDate" #startDate="ngModel" [(ngModel)]="movementInfoForm.startDate" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="startDate.valid || startDate.pristine" class="text-danger">StartDate is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">EndDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="endDate" #endDate="ngModel" [(ngModel)]="movementInfoForm.endDate" required/>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="endDate.valid || endDate.pristine" class="text-danger">EndDate is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Purpose</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter Purpose" name="purpose" #purpose="ngModel" [(ngModel)]="movementInfoForm.purpose"
                                    />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Status</label>
                            <select id="" class="form-control" name="status" [(ngModel)]="movementInfoForm.status" #status="ngModel">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()" >
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button type="submit"  [disabled]="!movementInfoInputForm.form.valid" class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>