<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #jobInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">Job Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">JobTitle<strong class="text-danger">*</strong></label>
                            <input type="text" autocomplete="off" class="form-control" name="title" #title="ngModel" [(ngModel)]="jobInfoForm.title" placeholder="Enter job title"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="title.valid || title.pristine" class="text-danger">Title is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Description</label>
                            <input type="text" autocomplete="off" class="form-control" name="description" #description="ngModel" [(ngModel)]="jobInfoForm.description" placeholder="Enter description" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">StartDate<strong class="text-danger">*</strong></label>
                            <input type="date" autocomplete="off" class="form-control" name="startDate" #startDate="ngModel" [(ngModel)]="jobInfoForm.startDate" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="startDate.valid || startDate.pristine" class="text-danger">StartDate is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">EndDate <strong class="text-danger">*</strong></label>
                            <input type="date" autocomplete="off" class="form-control" name="endDate" #endDate="ngModel" [(ngModel)]="jobInfoForm.endDate" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="endDate.valid || endDate.pristine" class="text-danger">End date is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsCommon</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isCommon" #isCommon="ngModel" [(ngModel)]="jobInfoForm.isCommon">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">JobDeliveryType<strong class="text-danger">*</strong></label>
                            <select id="" class="form-control" name="jobDeliveryTypeId" #jobDeliveryTypeId="ngModel" [(ngModel)]="jobInfoForm.jobDeliveryTypeId" required>
                                <option value="1">Normal</option>
                                <option value="2">Standard</option>
                                <option value="3">Urgent</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="jobDeliveryTypeId.valid || jobDeliveryTypeId.pristine" class="text-danger">IsCommon is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">TimeFrameForOperator (Min)<strong class="text-danger">*</strong></label>
                            <input type="number" autocomplete="off" class="form-control" name="operatorTimeFrame" #operatorTimeFrame="ngModel" [(ngModel)]="jobInfoForm.operatorTimeFrame" placeholder="Enter time frame" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="operatorTimeFrame.valid || operatorTimeFrame.pristine" class="text-danger">TimeFrameForOperator is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsHighlighted</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isHighlighted" #isHighlighted="ngModel" [(ngModel)]="jobInfoForm.isHighlighted">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Video-Link</label>
                            <input type="text" autocomplete="off" class="form-control" name="videoLink" #videoLink="ngModel" [(ngModel)]="jobInfoForm.videoLink" placeholder="Enter video-link" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Document-Link</label>
                            <input type="text" autocomplete="off" class="form-control" name="documentLink" #documentLink="ngModel" [(ngModel)]="jobInfoForm.documentLink" placeholder="Enter document-link" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ChildAgeMin</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter child age min" name="childAgeMin" #childAgeMin="ngModel" [(ngModel)]="jobInfoForm.childAgeMin" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ChildAgeMax</label>
                            <input type="text" autocomplete="off" class="form-control" name="childAgeMax" #childAgeMax="ngModel" [(ngModel)]="jobInfoForm.childAgeMax" placeholder="Enter child age max" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISEEMin</label>
                            <input type="text" autocomplete="off" class="form-control" name="iseeMin" #iseeMin="ngModel" [(ngModel)]="jobInfoForm.iseeMin" placeholder="Enter ISEE min" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISEEMax</label>
                            <input type="text" autocomplete="off" class="form-control" name="iseeMax" #iseeMax="ngModel" [(ngModel)]="jobInfoForm.iseeMax" placeholder="Enter ISEE max" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ISEEClass</label>
                            <select id="" class="form-control" name="iseeClassTypeId" #iseeClassTypeId="ngModel" [(ngModel)]="jobInfoForm.iseeClassTypeId">
                                <option value="1">High </option>
                                <option value="2">Middle </option>
                                <option value="3"> Low</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsPregnant</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isPregnant" #isPregnant="ngModel" [(ngModel)]="jobInfoForm.isPregnant">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">OccupationType</label>
                            <select id="" class="form-control" name="occupationTypeId" #occupationTypeId="ngModel" [(ngModel)]="jobInfoForm.occupationTypeId">
                                <option value="1">Occupation Type 1</option>
                                <option value="2">Occupation Type 2</option>
                                <option value="3">Occupation Type 3</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">NumberOfChild</label>
                            <input type="text" autocomplete="off" class="form-control" name="numberOfChild" #numberOfChild="ngModel" [(ngModel)]="jobInfoForm.numberOfChild" placeholder="Enter number of child" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DaysToBeExpireJobContract</label>
                            <input type="text" autocomplete="off" class="form-control" name="daysToExpairJobContract" #daysToExpairJobContract="ngModel" [(ngModel)]="jobInfoForm.daysToExpairJobContract" placeholder="Enter days to expair job contract" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DaysToBeExpiredResidencePermit</label>
                            <input type="text" autocomplete="off" class="form-control" name="daysToBeExpairedResidencePermit" #daysToBeExpairedResidencePermit="ngModel" [(ngModel)]="jobInfoForm.daysToBeExpairedResidencePermit" placeholder="Enter days to be expired residence permit" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsEligibleForUnlimitedResidencePermit</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isEligibleForUnlimitedResidencePermit" #isEligibleForUnlimitedResidencePermit="ngModel" [(ngModel)]="jobInfoForm.isEligibleForUnlimitedResidencePermit">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DaysToBeExpiredNationalId</label>
                            <input type="text" autocomplete="off" class="form-control" name="daysToBeExpairedNationalId" #daysToBeExpairedNationalId="ngModel" [(ngModel)]="jobInfoForm.daysToBeExpairedNationalId" placeholder="Enter days to be expired national id" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">DaysToBeExpiredPassport</label>
                            <input type="text" autocomplete="off" class="form-control" name="daysToBeExpairedPassport" #daysToBeExpairedPassport="ngModel" [(ngModel)]="jobInfoForm.daysToBeExpairedPassport" placeholder="Enter days to be expired passport" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsEligibleForCitizenshipApply</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isEligibleForCityzenShipApply" #isEligibleForCityzenShipApply="ngModel" [(ngModel)]="jobInfoForm.isEligibleForCityzenShipApply">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>HasUnlimitedResidencePermit</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="hasUnlimitedResidencePermit" #hasUnlimitedResidencePermit="ngModel" [(ngModel)]="jobInfoForm.hasUnlimitedResidencePermit">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>Select Section</label>
                            <div class="pl-2" [ngStyle]="{'width':100+'1%'}">
                                <ng-select name="selectedSectionIds"
                                           [items]="sectionName"
                                           bindLabel="sectionDescription"
                                           bindValue="sectionNameId"
                                           [multiple]="true"
                                           [dropdownPosition]="'top'"
                                           [(ngModel)]="selectedSectionIds">
                                </ng-select>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Client Required Amount <strong class="text-danger">*</strong></label>
                            <input type="number" class="form-control" name="clientRequiredAmount" #clientRequiredAmount="ngModel" [(ngModel)]="jobInfoForm.clientRequiredAmount" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="clientRequiredAmount.valid || clientRequiredAmount.pristine" class="text-danger">Client Received Amount is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Branch Received Amount <strong class="text-danger">*</strong></label>
                            <input type="number" class="form-control" name="branchRequiredAmount" #branchRequiredAmount="ngModel" [(ngModel)]="jobInfoForm.branchRequiredAmount" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="branchRequiredAmount.valid || branchRequiredAmount.pristine" class="text-danger">Branch Received Amount is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">Operator Received Amount <strong class="text-danger">*</strong></label>
                            <input type="number" class="form-control" name="operatorRequiredAmount" #operatorRequiredAmount="ngModel" [(ngModel)]="jobInfoForm.operatorRequiredAmount" required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="operatorRequiredAmount.valid || operatorRequiredAmount.pristine" class="text-danger">Operator Received Amount is required.</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button type="submit" [disabled]="!jobInfoInputForm.form.valid" class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>