<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #occupationInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">{{'occupationform.title' | translate}}</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            {{'common.back.label' | translate}}
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.jobType.label' | translate}}<span class="text-danger">* </span></label>
                            <select id="" class="form-control" name="jobTypeId" #jobTypeId="ngModel" [(ngModel)]="occupationInfoForm.jobTypeId" required>
                                <option *ngFor="let option of jobType" [value]="option.jobTypeId">{{option.jobTypeName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="jobTypeId.valid || jobTypeId.pristine" class="text-danger">   {{'occupationform.jobType.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.jobHour.label' | translate}}<span class="text-danger">* </span></label>
                            <input type="number" autocomplete="off" class="form-control" placeholder="   {{'occupationform.jobHour.placeholder' | translate}}" name="jobHour" #jobHour="ngModel" [(ngModel)]="occupationInfoForm.jobHour"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="jobHour.valid || jobHour.pristine" class="text-danger">   {{'occupationform.jobHour.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.contractType.label' | translate}}<span class="text-danger">* </span></label>
                            <select id="" class="form-control" name="contractTypeId" #contractTypeId="ngModel" [(ngModel)]="occupationInfoForm.contractTypeId" required>
                                <option *ngFor="let option of contractType" [value]="option.contractTypeId">{{option.contractTypeName}}</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="contractTypeId.valid || contractTypeId.pristine" class="text-danger">   {{'occupationform.contractType.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.companyName.label' | translate}}<span class="text-danger">* </span></label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.companyName.placeholder' | translate}}" name="companyName" #companyName="ngModel" [(ngModel)]="occupationInfoForm.companyName"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="companyName.valid || companyName.pristine" class="text-danger">   {{'occupationform.companyName.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.contractStartDate.label' | translate}}<span class="text-danger">* </span></label>
                            <input type="date" autocomplete="off" class="form-control" placeholder="Enter   {{'occupationform.username.label' | translate}} startdate" name="contractStartDate" #contractStartDate="ngModel" [(ngModel)]="occupationInfoForm.contractStartDate"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="contractStartDate.valid || contractStartDate.pristine" class="text-danger">   {{'occupationform.contractStartDate.required' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.contractEndDate.label' | translate}}</label>
                            <input type="date" autocomplete="off" class="form-control" name="contractEndDate" #contractEndDate="ngModel" [(ngModel)]="occupationInfoForm.contractEndDate" />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="contractEndDate.valid || contractEndDate.pristine" class="text-danger">   {{'occupationform.contractEndDate.required' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.vatNo.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.vatNo.placeholder' | translate}}" name="vatNo" #vatNo="ngModel" [(ngModel)]="occupationInfoForm.vatNo" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.legalCompanyAddress.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.legalCompanyAddress.placeholder' | translate}}" name="legalCompanyAddress" #legalCompanyAddress="ngModel" [(ngModel)]="occupationInfoForm.legalCompanyAddress" />
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.officeAddress.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.officeAddress.placeholder' | translate}}" name="officeAddress" #officeAddress="ngModel" [(ngModel)]="occupationInfoForm.officeAddress" />
                        </div>
                    </div>


                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.branchAddress.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.branchAddress.placeholder' | translate}}" name="branchAddress" #branchAddress="ngModel" [(ngModel)]="occupationInfoForm.branchAddress" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.chamberOfCommerceRegNo.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.chamberOfCommerceRegNo.placeholder' | translate}}" name="chamberOfCommerceRegNo" #chamberOfCommerceRegNo="ngModel" [(ngModel)]="occupationInfoForm.chamberOfCommerceRegNo" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.chamberOfCommerceCityName.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.chamberOfCommerceCityName.placeholder' | translate}}" name="chamberOfCommerceCityName" #chamberOfCommerceCityName="ngModel" [(ngModel)]="occupationInfoForm.chamberOfCommerceCityName" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.reaNo.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.reaNo.placeholder' | translate}}" name="reaNo" #reaNo="ngModel" [(ngModel)]="occupationInfoForm.reaNo" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.atecoNo.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.atecoNo.placeholder' | translate}}" name="atecoNo" #atecoNo="ngModel" [(ngModel)]="occupationInfoForm.atecoNo" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.sciaNo.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.sciaNo.placeholder' | translate}}" name="sciaNo" #sciaNo="ngModel" [(ngModel)]="occupationInfoForm.sciaNo" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.sciaCityName.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.sciaCityName.placeholder' | translate}}" name="sciaCityName" #sciaCityName="ngModel" [(ngModel)]="occupationInfoForm.sciaCityName" />
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>   {{'occupationform.isShareHolder.label' | translate}}</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isShareHolder" #isShareHolder="ngModel" [(ngModel)]="occupationInfoForm.isShareHolder">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" *ngIf="occupationInfoForm.isShareHolder">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.percentageOfShare.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.percentageOfShare.placeholder' | translate}}" name="percentageOfShare" #percentageOfShare="ngModel" [(ngModel)]="occupationInfoForm.percentageOfShare" />                            
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.notaioInfo.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.notaioInfo.placeholder' | translate}}" name="notaioInfo" #notaioInfo="ngModel" [(ngModel)]="occupationInfoForm.notaioInfo" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">   {{'occupationform.companyRepresentative.label' | translate}}</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="   {{'occupationform.companyRepresentative.placeholder' | translate}}" name="companyRepresentative" #companyRepresentative="ngModel" [(ngModel)]="occupationInfoForm.companyRepresentative" />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                {{'common.back.label' | translate}}
                            </button>
                            <button type="submit" [disabled]="!occupationInfoInputForm.form.valid" class="caf-btn-primary-outline">
                                <i class="fa fa-save pr-1"></i> {{'common.save.label' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<app-section-to-section-link [sectionName]="'Occupation Info'"></app-section-to-section-link>