<div class="card mb-4">
    <div class="card-body caf-card card-shadow">
        <form action="" (ngSubmit)="onSubmit()" #occupationInfoInputForm="ngForm">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 pb-4 d-flex flex-wrap justify-content-between align-items-center">
                        <h3><span class="bordered-title">Occupation Informations</span></h3>
                        <button class="caf-btn-primary-outline h-auto back btn-sm" (click)="fnBackToList()">
                            <i class="pe-7s-back pr-1"></i>
                            Back
                        </button>
                    </div>
                    <hr>
                    <div class="pt-3"></div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">JobType*</label>
                            <select id="" class="form-control" name="jobTypeId" #jobTypeId="ngModel" [(ngModel)]="occupationInfoForm.jobTypeId">
                                <option value="1">PartTime</option>
                                <option value="2">FullTime</option>
                                <option value="3">Occasional</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="jobTypeId.valid || jobTypeId.pristine" class="text-danger">JobType is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">JobHour*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter JobHour" name="jobHour" #jobHour="ngModel" [(ngModel)]="occupationInfoForm.jobHour"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="jobHour.valid || jobHour.pristine" class="text-danger">JobHour is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractType*</label>
                            <select id="" class="form-control" name="contractTypeId" #contractTypeId="ngModel" [(ngModel)]="occupationInfoForm.contractTypeId">
                                <option value="1">Limited</option>
                                <option value="2">Unlimited</option>
                                <option value="3">Occational</option>
                            </select>
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="contractTypeId.valid || contractTypeId.pristine" class="text-danger">ContractType is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractStartDate*</label>
                            <input type="date" autocomplete="off" class="form-control" placeholder="Enter JobHour" name="contractStartDate" #contractStartDate="ngModel" [(ngModel)]="occupationInfoForm.contractStartDate"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="contractStartDate.valid || contractStartDate.pristine" class="text-danger">ContractStartDate is required.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ContractEndDate*</label>
                            <input type="date" autocomplete="off" class="form-control" name="contractEndDate" #contractEndDate="ngModel" [(ngModel)]="occupationInfoForm.contractEndDate"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="contractEndDate.valid || contractEndDate.pristine" class="text-danger">ContractEndDate is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CompanyName*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter CompanyName" name="companyName" #companyName="ngModel" [(ngModel)]="occupationInfoForm.companyName"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="companyName.valid || companyName.pristine" class="text-danger">CompanyName is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">VatNo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter VATNo" name="vatNo" #vatNo="ngModel" [(ngModel)]="occupationInfoForm.vatNo"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">LegalCompanyAddress</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter LegalCompanyAddress" name="legalCompanyAddress" #legalCompanyAddress="ngModel" [(ngModel)]="occupationInfoForm.legalCompanyAddress"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">OfficeAddress</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter OfficeAddress" name="officeAddress" #officeAddress="ngModel" [(ngModel)]="occupationInfoForm.officeAddress"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>


                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">BranchAddress</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter BranchAddress" name="branchAddress" #branchAddress="ngModel" [(ngModel)]="occupationInfoForm.branchAddress"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ChamberOfCommerceRegNo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ChamberOfCommerceRegNo" name="chamberOfCommerceRegNo" #chamberOfCommerceRegNo="ngModel" [(ngModel)]="occupationInfoForm.chamberOfCommerceRegNo"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ChamberOfCommerceCityName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ChamberOfCommerceCityName" name="chamberOfCommerceCityName" #chamberOfCommerceCityName="ngModel" [(ngModel)]="occupationInfoForm.chamberOfCommerceCityName"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">REANo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter REANo" name="reaNo" #reaNo="ngModel" [(ngModel)]="occupationInfoForm.reaNo"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">ATECONo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter ATECONo" name="atecoNo" #atecoNo="ngModel" [(ngModel)]="occupationInfoForm.atecoNo"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SCIANo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter SCIANo" name="sciaNo" #sciaNo="ngModel" [(ngModel)]="occupationInfoForm.sciaNo"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">SCIACityName</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter SCIACityName" name="sciaCityName" #sciaCityName="ngModel" [(ngModel)]="occupationInfoForm.sciaCityName"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group d-flex align-items-center">
                            <label>IsShareHolder</label>
                            <div class="pl-2">
                                <label class="switch">
                                    <input type="checkbox" name="isShareHolder" #isShareHolder="ngModel" [(ngModel)]="occupationInfoForm.isShareHolder">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">PercentageofShare*</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter PercentageofShare" name="percentageOfShare" #percentageOfShare="ngModel" [(ngModel)]="occupationInfoForm.percentageOfShare"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p [hidden]="percentageOfShare.valid || percentageOfShare.pristine" class="text-danger">PercentageofShare is required.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">NotaioInfo</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter NotaioInfo" name="notaioInfo" #notaioInfo="ngModel" [(ngModel)]="occupationInfoForm.notaioInfo"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="caf-input-group">
                            <label class="label">CompanyRepresentative</label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="Enter CompanyRepresentative" name="companyRepresentative" #companyRepresentative="ngModel" [(ngModel)]="occupationInfoForm.companyRepresentative"
                                   required />
                            <p class="text-info d-none">Info message</p>
                            <p class="text-danger d-none">Danger message</p>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-footer d-flex justify-content-end">
                            <button class="caf-btn-primary-outline back mr-2" (click)="fnBackToList()">
                                <i class="pe-7s-back pr-1"></i>
                                Back
                            </button>
                            <button type="submit" [disabled]="!occupationInfoInputForm.form.valid" class="caf-btn-primary-outline"><i class="fa fa-save pr-1"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
